<div class="img">
 <mat-label>UDACITY FOR GOVERNMENT</mat-label>
 <br>
 <br>

 <mat-label class="txt">Achieve your nation’s full digital transformation potential by investing in your workforce.</mat-label>
<br>
<br>

<div class="txt2">
<mat-label>Udacity gives governments the opportunity to bridge the people and skills gap, spur jobs growth, and reach new economic heights.</mat-label>
</div>
<br>
<button type="submit" class="btnSignIn" mat-raised-button color="primary" class="btn" >
    LEARN MORE
</button>
</div>
<div class="section">
    <mat-label  style="font-size:30px;"class="sectionContent">Get ready for the changing jobs landscape.</mat-label>
    <br> <br>
    <mat-label  style="color:rgb(77, 77, 77)"class="sectionContent">Technology will create 133 million new jobs globally, according to<a href="#" target="_blank"> the World Economic Forum</a>.</mat-label>
</div>
<mat-card class="example-card">
    
    <mat-card-header>
        <div class="headerContent">
      <mat-card-title>Udacity is a powerful catalyst for workforce development.</mat-card-title>
     <br> <mat-card-subtitle>Our public and private partnerships deliver government-funded scholarships for our Nanodegree programs, designed to upskill and reskill workforces at scale.</mat-card-subtitle>
    </div>
</mat-card-header>
    <mat-card-content>
        <div class="Content">
     <div class="contentPart">
         <img  class="img2" src="//www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/2G1350XUTAUH964j9FkpNr/31cdbd29eca94b40b3e6e0d662373a30/MeasureableImpact_2x.jpg">
        <br> 
        <mat-label class="mat">Measurable impact</mat-label>
        <br> <br><p>74% of students reported a positive career outcome, in a recent survey of Nanodegree graduates in the Egyptian program.*</p>
     </div>
     <div class="contentPart">
        <img class="img2" src="//www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/5CwTPe7KysF4kHIjN14xKz/eff1fab9fc7c8ad0ecdff57e1b782e90/TailoredProgram_2x.jpg"src="//www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/5CwTPe7KysF4kHIjN14xKz/eff1fab9fc7c8ad0ecdff57e1b782e90/TailoredProgram_2x.jpg">
<br>
        <mat-label class="mat">Programs tailored to specific goals</mat-label>
       <br><br> <p>Udacity will design services and curriculum that map to a program's targets, like employing job seekers or increasing "dollars earned" by graduates.</p>
     </div>
     <div class="contentPart">
        <img class="img2" src="//www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/64QiD1wBwq1AWIDz5lW9VN/83cef06f85c205d8dc24c3f6d0ac9c15/JobReady_2x.jpg">
       <br>
        <mat-label class="mat">Citizens gain job-ready knowledge</mat-label>
        <br>
        <br><p>Our online courses are created by industry leaders for practitioners working in the field and are designed to deliver skill sets that can be applied immediately.</p>
     </div>
    </div>
    </mat-card-content>
  
  </mat-card>

  <hr>
  <br>
  <div class="List">
    <mat-label class="mat2">LEARNING TRUSTED BY GOVERNMENTS AROUND THE WORLD</mat-label>
    <br>
    <br>
    <br>
    <div >
        <ul>
            <li>
                <img src="//www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/2TRBIdHEwm890FmgbwsqVT/24f89225939df7a0b572a6bcb76a3715/pasted_image_0.jpg">
            </li>
            <li>
                <img src="//www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/25XTsjGakqK4Tuh4sLRMgc/b88aaf72fe241c56886d4f5d3f6a6987/pastedImage0.jpg">
            </li>
            <li>
                <img src="//www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/6COzdyORPuhm5hzx4c9OCW/165e7a632c5259bb6f3a0405634d847d/CORI_Logos_Final__2_.jpg">
            </li>
            <li>
                <img src="//www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/7pLdniahKgeW3xqyYCItfw/5257533f7f13898cef60ee14d58aa924/misk-logo-c-h.jpg">
            </li>
            <li>
                <img src="//www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/3jNGUHV9yJLPn2IabUGrUa/7edb6435605bfc911852c6fdc388783a/pastedImage0-1.jpg">
            </li>
            <li>
                <img src="//www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/42P6yU1eRZlFNHtlPLbGFb/ca6c7e0a1ac420bc8abd759040465572/ITIDA_Logo_English_Large.jpg">
            </li>
            <br>
            <li>
                <img src="//www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/5EFKom12aan9ptR5d76xvV/9f325e8657ea30082fd1e98e6276f4ab/dubai_future_foundation.jpg">
            </li>
            <li>
                <img src="//www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/3V9h28O85FtgHORN4KL7pF/cbbe9dd1e5d18cd15d486f0b73e65b6b/Ohio.jpg">
            </li>
            <li>
                <img src="//www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/4It0m7kPxB8JLgbap7ZQTI/103cbd232c429bb5107faf39c39469e6/misk-academy-seeklogo.com.jpg">
            </li>
            <li>
                <img src="//www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/4NxWHhL5UmRNnBmIHAN5w7/1631f5f5ea2e25c2a4237b6d6ae28a78/WEF.jpg">
            </li>
            <li>
                <img src="//www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/QpEZpaB3Hj1koHPnsAiNz/c9155ef2f84f7167517bfddb09be6256/ADSG_Logo-01.jpg">
            </li>
            <li>
                <img src="//www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/3AXQ50X7JPphnMns3qbN4I/521b9c3b736757fc1a02a85acff41e28/DSJC_Member_POSITIVE_450px.jpg">
            </li>
        </ul>
    </div>
</div>
<hr>
<div class="wrap">
    <div class="half">
        <img src="//www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/48a4yTjQwN8DdO9UkElSYm/69727e3d29cecf396b86b9b41634950f/FuleingEconomicGrowth.jpg">
    </div>
    <div class="articlename">
        <p class="left">
            <mat-label style="color:#017a9b;font-size: 35px;">  Fueling economic growth in Egypt</mat-label>
          <br>
          <br>
          <br>
Udacity is partnering with Egypt to reskill citizens for high-paid government work like software development. Over an 18 month period, the estimated value of wages generated by Nanodegree graduates will be over <strong>200 million</strong> USD, a <strong>12x </strong> return on investment to the Egyptian government, according to program estimates.*
<br>
<br>

"We're bringing the best of Silicon Valley technology and know-how to our young population to prepare them to compete in the global market. This program is so much more than training; it's about ensuring that graduates improve their livelihoods and, in turn, benefit the economy and transform Egypt into a technology hub."
<br>
<br>
-H.E. Dr. Amr Talaat, Egypt's Minister of Communications and Information Technology
        </p>
    </div>
</div>
<br>
<br>
<div class="wrap2">
    <div class="articlename2">
        <p class="rigth">
            <mat-label style="color:#017a9b;font-size: 35px;"> Driving jobs growth in Saudi Arabia</mat-label>
<br>
<br>
The Misk Academy in Saudi Arabia came to Udacity with an ambitious target: employing<strong>40,000</strong>individuals by 2025. Udacity has played an important role in helping Misk Academy achieve 50% of its goal. By delivering end-to-end Nanodegree programs designed to equip learners with job-ready skills, mentoring them through certificate completion, and then preparing them to find jobs, we have positively impacted the careers of<strong> 7,209 graduates</strong> thus far.
<br>
<br>

"Nothing compares to my experience with Udacity courses. These opportunities helped me ace an elite full-time job as a Digital Marketing Lead. I am also working as a session lead with Udacity to help new generations of students graduate from Nanodegree programs and find proper jobs."
<br>
<br>
-Abdurrahman Alshanquiti, Udacity student, Misk Academy, Saudi Arabia
        </p>
    </div>
    <div class="img2">
        <img src="//www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/2PvWTgi7ljGsk5BKroWCPE/f7b1c3f51c9f6acb90aec870e0e3ddb0/DrivingJobs.jpg">
    </div>
</div>

<div class="section2">
    <mat-label class="mat4">Our programs prepare citizens for emerging technology.</mat-label>
    <br> <br>
    <p class="section2Content">
        The Nanodegree programs consist of a combination of lessons and hands-on projects designed by industry leaders for technology practitioners. Our curriculum prepares students to use technological skills in a professional setting. To that end, Udacity sources many of our course materials in partnership with top companies like Accenture, Amazon, BMW, GitHub, IBM, Microsoft, Nvidia, and Uber ATG. Our Nanodegree programs exclusively focus on the most in-demand core and emerging technologies: Programming, Application Development, Digital Marketing, and Data Science.
    </p>
    <br>
    <br>
    <br>
    <p class="section2Content2">
        The time to grow your technological economy, develop your workforce, and increase your competitive advantage in the global economy is now.
    </p>
    <br>
    <br>
    <br>
    <p class="section2Content3">
        On average in a recent survey of Nanodegree graduates in the Egyptian Program.
    </p>
</div>
<br>
<br>
<div class="card2">
<mat-card class="example-card2">
    <mat-card-header>
      <mat-card-title  class="mat-card-title2" style="color:#017a9b;font-weight:lighter;text-align: center;">Not sure where to begin?</mat-card-title>
      <mat-card-subtitle  class="mat-card-subtitle2"style="font-weight: lighter;">Sign up for a consultation</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div>
          <label>First Name*</label>
          <br>
          <input type="text">
      </div>
      <br>
      <div>
        <label>Last Name*</label>
        <br>
        <input type="text">
    </div>
    <br>
    <div>
        <label>Work Email*</label>
        <br>
        <input type="text">
    </div>
    <br>
    <div>
        <label>Phone Number*</label>
        <br>
        <input type="text">
    </div>
    <br>
    <div>
        <label>Organization Name*</label>
        <br>
        <input type="text">
    </div>
    <br>
    <div>
        <label>Organization Size*</label>
        <br>
        <select class="input" required name="Organization">
            <option>Select your organization size</option>
            <option>
                Less than 1,000 employees        
            </option>
            <option>
                1,000 - 5,000 employees     
            </option>
            <option>
                5,000+ employees       
            </option>
        </select>
    </div>
    <br>
    <div>
        <p>I consent and agree to receive marketing communications from Udacity, which may include email messages, text messages, and phone calls from Udacity to the email and phone number listed above. Call and message rates may apply.</p>
    </div>
    <br>
    <div>
        <p>I acknowledge that by clicking “Submit,” my data will be used in accordance with the Udacity Terms of Use and Privacy Policy, including relevant opt-out provisions therein.</p>
    </div>
    <br>
 
    </mat-card-content>
    <mat-card-actions>
        <button type="submit" mat-button disabled style="font-weight: bolder;font-size:30px;">Submit</button>
      </mat-card-actions>
      <br>
      
  </mat-card>

  </div>
  