<ngb-alert  style="background-color: rgb(171, 221, 171);width: 100%;" *ngIf="alertFlag" >
  <strong>Info Changed Successfully  </strong> 
  </ngb-alert>

  <mat-card>
    <mat-card-header>
<form class="example-form"  [formGroup]="newPasswordForm" >
    <h1 style="width: 200px;">Change Password</h1>

    <mat-form-field class="example-full-width">
      <mat-label>Current Password</mat-label>
      <input type="password" matInput formControlName="currentPassword" placeholder="Enter Current Password" #currentPassword>
      <!-- <mat-error *ngIf="currentPassword.invalid  && currentPassword.touched">{{getErrorMessagecurrentPassword()}}</mat-error> -->
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>New Password</mat-label>
        <input type="password" matInput formControlName="newPassword" placeholder="Enter New Password" #newPassword>
        <!-- <mat-error *ngIf="newPassword.invalid  && newPassword.touched">{{getErrorMessagenewPassword()}}</mat-error> -->
      </mat-form-field>


      <mat-form-field class="example-full-width">
        <mat-label>Verify Password</mat-label>
        <input type="password" matInput formControlName="verifyPassword" placeholder="Enter Verify Password">
        <!-- <mat-error *ngIf="verifyPassword.invalid  && verifyPassword.touched">{{getErrorMessageverifyPassword()}}</mat-error> -->
      </mat-form-field>
  </form>
</mat-card-header>
</mat-card>
<button  mat-raised-button style="float: right;margin-top: 50px;background-color: #017a9b;color: white;margin-left: 30px;text-transform: uppercase;"(click)="updatePassword(newPassword.value,currentPassword.value)">Save</button>
<button  mat-raised-button style="float: right;text-transform: uppercase;margin-top: 50px;"  >Cancel</button>
