
  <div class="alert alert-success" style="background-color: rgb(171, 221, 171);width: 100%;" role="alert" *ngIf="alertFlag">
    <strong style="margin-left: 30%;">Info Changed Successfully  </strong> 
  </div>
  <mat-card>
    <mat-card-header>
<form class="example-form"  [formGroup]="newPasswordForm" >
    <h1 style="width: 200px;">Change Password</h1>

    <mat-form-field class="example-full-width">
      <mat-label>Current Password</mat-label>
      <input type="password" [type]="hide ? 'password' : 'text'" matInput formControlName="currentPassword" placeholder="Enter Current Password" #currentPassword>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
               [attr.aria-pressed]="hide">
               <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
           </button>
      <!-- <mat-error *ngIf="currentPassword.invalid  && currentPassword.touched">{{getErrorMessagecurrentPassword()}}</mat-error> -->
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>New Password</mat-label>
        <input type="password" [type]="hidenewpass ? 'password' : 'text'" matInput formControlName="newPassword" placeholder="Enter New Password" #newPassword>
        <button mat-icon-button matSuffix (click)="hidenewpass = !hidenewpass" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hidenewpass">
        <mat-icon>{{hidenewpass ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
        <!-- <mat-error *ngIf="newPassword.invalid  && newPassword.touched">{{getErrorMessagenewPassword()}}</mat-error> -->
      </mat-form-field>


      <mat-form-field class="example-full-width">
        <mat-label>Verify Password</mat-label>
        <input type="password" [type]="hideVerifypass ? 'password' : 'text'" [class.is-invalid]="newPasswordForm.errors?.misMatch" matInput formControlName="verifyPassword" placeholder="Enter Verify Password">
        <button mat-icon-button matSuffix (click)="hideVerifypass = !hideVerifypass" [attr.aria-label]="'Hide password'"
               [attr.aria-pressed]="hideVerifypass">
               <mat-icon>{{hideVerifypass ? 'visibility_off' : 'visibility'}}</mat-icon>
           </button>
      </mat-form-field>
      <div>
        <small class="alert alert-danger" style="font-size: 15px;" *ngIf="newPasswordForm.errors?.misMatch">Password and confirm password not match</small>
      </div>

  </form>
</mat-card-header>
</mat-card>
<button  mat-raised-button style="float: right;margin-top: 50px;background-color: #017a9b;color: white;margin-left: 30px;text-transform: uppercase;"(click)="updatePassword(newPassword.value,currentPassword.value)">Save</button>
<button  mat-raised-button style="float: right;text-transform: uppercase;margin-top: 50px;"  >Cancel</button>
