<div class="img">
    <br><br>
    <mat-label class="txtimg">  Build With Udacity </mat-label>
    <br>
 <br>

 <mat-label class="txt">TRAIN THE NEXT GENERATION OF TECH STUDENTS AS A UDACITY INSTRUCTOR</mat-label>
<br>
<br>
<button type="submit" class=" button btn button--white"  >
    Become An Instructor
</button>
<button type="submit" class=" button btn button--outline"  >
    LEARN MORE
</button>
<br><br>
<!-- <button class="contentful-hero_playVideo__llOqH"> -->
    <img alt="Play Video" src="//www.udacity.com/assets/iridium/images/nanodegree-overview/shared/nd-hero-video/icon-video-white.svg">
<!-- </button> -->

</div>
<section style="outline:none" tabindex="-1" >
    <div class="add-padding_addPadding__1-yHI" style="--padding-length--desktop:120px">
    </div>
</section>
<section style="outline:none" class="Content" >
    <div class="nd-opportunity_box__kFu2m container_contain__2hCQ1" >
        <div class="nd-opportunity_card__KLsZ_"><h3 class="txt1">Why Become an Instructor?</h3>
            <div class="nd" >
                <div  class="contentPart">
                    <img alt="tools" class="imgbox" src="//www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/4WnknAQdTv62rHVOd3nVzy/1908a799b3e860142cfe2a41ac6584f1/ReachStudents.svg">
                    <p >Train students in 160+ countries and improve thousands of lives and families across the globe.</p>
                </div>
                <div  class="contentPart">
                        <img alt="tools" class="imgbox" src="//www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/3XdvfM7G3tcW96NbaMQnsy/e0448084e1b72b4833bc95d952aef4a6/BuildYourBrand.svg">
                        <p >Design your work around your life and develop a course when you want, where you want.</p>
                    </div>
                    <div  class="contentPart">
                        <img alt="tools" class="imgbox" src="//www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/2wWE6neZsfrj8teki25fR/c827d864109c2f2087787fa8227ddc48/GrowYourNetwork.svg">
                        <p >Join a network of industry leaders and market yourself as an expert to Fortune 500 and Global 2000 companies.</p>
                    </div></div></div></div></section>
     
  
                    



                    <div class="wrap">
                        <div class="half">
                            <img src="//www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/LmRLJqfbArGWgLEmhAOyF/f76985553884eb0b8732410c194500c8/AdobeStock_119446574.jpg" class="m"></div>
                            <div class="articlename">
                                <h2 class="left">Who Instructors Are</h2><br>
<div>Udacity Instructors are __established industry professionals__ from Fortune 500 and Global 2000 companies who have demonstrated leadership and expertise in cutting-edge tech fields. Here's what they bring to our courses:


             <p></p><h5 class="blue">Industry Leaders</h5><p></p>
                        <ul> 
                           
            <li><strong>5+ years of demonstrated field expertise</strong>
            </li><li>Ability to build intentional, engaging, effective and relevant course content
            </li><li>Passion for their field
                        </li></ul>
                        
                        <p></p><h5 class="blue">Committed Educators</h5><p></p>
                        <ul>
                          <li><strong>Ability to break down concepts for new learners</strong>
                          </li><li>1+ years of education or teaching experience
                          </li><li>Available to work 15-20 hours per week
                        </li></ul>
                        
                        <p></p><h5 class="blue">Impact-Driven Learners</h5><p></p>
                        <ul>
                          <li><strong>Effective time management skills</strong>
                          </li><li>Growth mindset and eager to receive feedback
                          </li><li>Team player with a desire to give back
                        </li></ul>
                        <br>
                        <strong>Sound like you?</strong> Scroll down for details about getting involved.
                        <br>
                        <strong>Not sure if it's a fit?</strong> Check out previous instructors' success stories.
                        <br>
                        <br>
                        <br></div><a href="https://blog.udacity.com/category/instructors" target="_blank" class="  bb button btn button--white">
                            <span class="black">Go to Success Stories</span>
                        </a></div></div>   

                        <section style="outline:none" tabindex="-1" >
                            <div class="add-padding_addPadding__1-yHI" style="--padding-length--desktop:120px">
                            </div>
                        </section>
                        <section style="outline:none" class="Content" >
                            <div class="nd-opportunity_box__kFu2m container_contain__2hCQ1" >
                                <div class="nd-opportunity_card__KLsZ_"><h3 class="txt1"> What Instructors Do?</h3>
                                    <div class="nd" >
                            <p class="txt5">Thrive in an immersive course development experience that combines industry visionaries with our team of instructional design and pedagogical experts.
                                 </p></div>
</div></div></section>

                                 <div class="cta-banner-section" style="height: 300px;">
                                     <div class="cta-banner_background__33kLA theme-blue-green" >
                                        <div class="cta-banner_overlay__eZtAS" style="background-image: url(&quot;//www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/4yiyvYGzpyDKr8gM3tFUS2/176a2fc99a349e387fe22fd1f112d97d/instructor_with_producer.jpg&quot;); "></div>
                                         <div class="cta-banner_contain__2cFSP">
                                             <div class="cta-banner_content__2RoB2">
                                                 <h4 class="white h1" style="font-size: 50px;">Join us!</h4>
                                                 <br><br><br>
                                                 <p class="subtitle large white">We partner with instructors who believe in the power of education and want to help drive the workforce's skills in the jobs of the future.</p>
                                                 <br><br><br>
                                                 <a target="_blank" href="https://forms.udacity.com/forms/instructor-partnerships-and-success" class="button btn button--blue ">Become an Instructor</a>
                                </div></div></div></div>
    


                                <section style="outline:none" tabindex="-1" class ="final" >
                                    <div class="faq-hub_container__2BmAg container_contain__2hCQ1">
                                        <div class="infinal">
                                            <h4 style="font-size: 35px;">Frequently Asked Questions</h4></div>
                                            <br><br><br>
                                            <div class="faq-hub_content__2Zfik">
                                                <div>
                                                    <ul >
                                                        <li >
                                                            <h6 class="txtfinal">What opportunities are available?</h6>
                                                            <div class="faq-hub_answerContent__Rk7uX">Udacity Instructors are contracted for different types of work, some of which include: 
                                    <ul>
                                      <li>Developing one full course</li>
                                      <li>Advising on a Course Outline or Nanodegree Design</li>
                                      <li>Building a course project</li>
                                      <li>Completing content maintenance on or a refresh for an existing course</li>
                                    </ul></div></li>
                                    <li class="faq-hub_faqItem__1RZpe">
                                        <h6 class="txtfinal">What experience should Udacity Instructors have?</h6>
                                        <div class="faq-hub_answerContent__Rk7uX">Udacity partners with Instructors who are:
                                    <ul>
                                    <li>Subject matter specialists and thought leaders in their field</li>
                                    <li>Committed to student success</li>
                                    <li>Passionate about education</li>
                                    <li>Dependable for delivering high-quality student projects on time</li>
                                    <li>Life-long learners that are open to feedback and dedicated to personal and professional growth</li>
                                    </ul></div></li>
                                                    </ul></div></div></div></section>