<div class="contentImg "
    style="background-image:url(/assets/career-services-hero.jpg)">     
    <div   class="center">
            <div style="text-align: center;" class="centerTop">  
                <h6 style="font-size: .8125rem;line-height: 24px;">CAREER SERVICES</h6>
                <h1>Go from Job Search to Job Success</h1>
                <div class="contentful-hero_legible__2vPGP center hidden-xs-down">The next step in your Career Journey
                    begins here. Udacity provides access to a wide variety of services and support in order to help you
                    get results.</div>
            </div>
            <div class="contentful-hero_btnWrapper__2Yg7v"><a href="#id-3wSOhscakDocJobzaDXSfH"
                    class="button btn button--white ">Career Services</a></div>
        </div>
    </div>

