<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<div class="container-fluid">
    <section #sectionOne>
        <div class="contentImg " style="background-image:url(/assets/career-services-hero.jpg)">
            <div class="center">
                <div style="text-align: center; ">
                    <h6 style="font-size: .8125rem;">CAREER SERVICES</h6>
                    <h1 style="font-size: 2.5rem">Go from Job Search to Job Success</h1>
                    <div style="font-size: 16px;">The next step in your Career Journey
                        begins here. Udacity provides access to a wide variety of services
                        <br>
                        and support in order to help you
                        get results.
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">&nbsp;</div>
                </div>
                <div><button class="btn button--white">CAREER SERVICES</button>
                </div>
            </div>
        </div>
    </section>
    <section #blank style="line-height: 100px;">&nbsp;</section>

    <section #sectionTwo>
        <div class="row">
            <div class="col-md-1">&nbsp;</div>

            <div class="col-md-5">
                <img src="/assets/get_noticed.jpg" class="imgSecondPart">
            </div>
            <div class="col-md-5" style="line-height:70px ;">
                <span style="font-size: xx-large;">Exclusive Job Postings</span>
                <p style="font-size: 16px;">Once you enroll you’ll have access to the latest job postings from Udacity,
                    our Partners and our Enterprise and Government customers -- such as Google, IBM, Shell and BMW.</p>

                <span style="font-size: xx-large;"> Get Noticed</span>
                <p style="font-size: 16px;">Our career offerings are designed to help you get the attention of
                    recruiters and hiring managers. Submit your resume, LinkedIn, or GitHub profiles and our experienced
                    team will provide actionable feedback.</p>
            </div>
            <div class="col-md-1">&nbsp;</div>

        </div>
        <div class="row">
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-5" style="line-height:70px ;">
                <span style="font-size: xx-large;">Leverage your Network</span>
                <p style="font-size: 16px;">Strengthen your networking muscles by getting connected to fellow students
                    and alumni. Use LinkedIn to get connected with others in your field.
                </p>

                <span style="font-size: xx-large;">Land the Job</span>
                <p style="font-size: 16px;">You’ve got the skills, now get the job. Use Udacity’s Career Project
                    services to optimize your application materials to help you get noticed. </p>
            </div>
            <div class="col-md-5">
                <img src="/assets/woman_smiling_while_networking.jpg" class="imgSecondPart">
            </div>
            <div class="col-md-1">&nbsp;</div>

        </div>
    </section>
    <section #blank style="line-height: 100px;">&nbsp;</section>

    <section #ThirdSectionJobs class="thirdSection" style="border: 1px solid rgba(119, 136, 153, 0.473);">
        <div class="row">
            <div class="col-md-12">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1 style="text-align: center">UDACITY GRADS GET GREAT JOBS
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-10">
                <p style="color:lightslategray;font-size: 16px;text-align: center;">
                    GETTING HIRED FOR A GREAT JOB MEANS WORKING WITH RECRUITERS AND HIRING MANAGERS TO PROVE THAT
                    YOU CAN DELIVER REAL VALUE
                    STARTING ON DAY ONE. COMPLETING A UDACITY NANODEGREE HELPS TO SHOWCASE YOUR SKILLS AND YOUR
                    APTITUDE FOR GRIT. JOIN THE RANKS OF THE THOUSANDS OF ALUMNI WHO HAVE LANDED GREAT JOBS AT TOP
                    COMPANIES LIKE THESE:
                </p>
            </div>
            <div class="col-md-1">&nbsp;</div>
        </div>

        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <ul class="logoUl">
                    <li><img class="ImagesLogos" alt="Amazon"
                            src="//www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/4l7pwUVsIz9ZoJQa9lPao8/b739ab91ad9591ec36177cbf243f94d0/Amazon-Partner-Logo.png">
                    </li>
                    <li><img class="ImagesLogos" alt="AT&amp;T"
                            src="//www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/z2D6oz3DoWoqQa68caSqu/d39d05b1c52f443309d66ef3a2f469ec/logo-color-att">
                    </li>
                    <li><img class="ImagesLogos" alt="BMW"
                            src="//www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/3tEU2kymT6UswOKYIEg8OG/7ca97e3bfea59c16bc40f03cdff5d725/logo-color-bmw">
                    </li>
                    <li><img class="ImagesLogos" alt="DiDi"
                            src="//www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/5s07In78A0kW0qqAgu8i6A/42766a273bfd73494c289f2cd80a770a/logo-color-didi">
                    </li>
                    <li><img class="ImagesLogos" alt="IBM Watson"
                            src="//www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/1I7faxZ6v24mWaqsI286gI/e588f106249e681fafc85edaef0be788/logo-color-ibm-watson">
                    </li>
                    <li><img class="ImagesLogos" alt="Facebook"
                            src="//www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/4XJLueZsVp2gbx7jpizyp2/7590b82c43728053d62ba2c2411d6f07/Facebook-Partner-Logo.png">
                    </li>
                    <li><img class="ImagesLogos" alt="Google"
                            src="//www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/6DStOiOxxn93mWrNfoci0H/2267dca3d2c701c9b32f9b785c5f4ff0/Google-Partner-Logo.png">
                    </li>
                </ul>
            </div>
            <div class="col-md-1"></div>
        </div>

    </section>
    <section #blank style="line-height: 100px;">&nbsp;</section>

    <section #FourthSectionStudentsStories>
        <div class="row">
            <div class="col-md-12">
                <h1 style="text-align: center;">Hear What Our Students Say
                </h1>
            </div>
        </div>

        <div style="line-height: 20px;">&nbsp;</div>
        <div class="ligtBlueBackground ">
            <div class="scroll">
                <div class="row">
                    <div class="col-md-1">&nbsp;</div>                    
                    <div *ngFor="let story of StdStoriesList">
                        <div class="col-md-3">
                            <div class="card first">
                                <div class="imgs">
                                    <img src="assets/Jesse.webp" style="width: 70px" />
                                </div>
                                <div id="remain">
                                    <h1 style="
                              text-align: center;
                              font-size: 30px;
                              font-weight: 100;
                              color: black;
                            ">
                                        {{story.userName}}
                                    </h1>
                                    <p style="color: rgb(128, 128, 128);">{{story.specialzation}}</p>
                                    <h6 style="font-weight: 400; font-size: 15px">
                                        {{story.story}}

                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1">&nbsp;</div>                    

                </div>
            </div>

        </div>
    
    </section>
    <section #blank style="line-height: 50px;">&nbsp;</section>
<section #FifthSectionCareerServiceOffering>
<div class="row">
        <div class="col-md-12">
            <h1 style="text-align: center;font-size: xx-large;">Udacity's Career Service Offering</h1>
        </div>
        <div style="line-height: 30px;">&nbsp;</div>
</div>
<div class="row">
    <div class="col-md-2">&nbsp;</div>
    <div class="col-md-8">
    <h4 style="text-align: center;font-size: 16xp;">
        Students who enroll in any Udacity Nanodegree Program will have access to Udacity's Career Services, which include Resume Reviews, Cover Letter Review, LinkedIn Review, and GitHub Review. See below for what each service entails.
    </h4>
</div>
<div class="col-md-2">&nbsp;</div>

</div>

<div style="line-height: 30px;">&nbsp;</div>


<div class="row">
    <div class="col-md-1">&nbsp;</div>
 
    <div class="col-md-5" style="line-height:70px ;">
        <span style="font-size: xx-large;">Resume Review
            </span>
    <div style="line-height: 5px;">&nbsp;</div>
        <p style="font-size: 16px;">Get a detailed resume review from an industry professional to ensure your resume effectively conveys your abilities and gets attention from employers.        </p>
        <p style="color:rgb(2, 106, 172);" >WHAT IS INCLUDED IN THE SERVICE:
        </p>
        <ul style="line-height: 2em;font-size: 16px;">
            <li>One Personalized Review</li>
            <li>
                Industry-tested Template
            </li>
            <li>
                Resume Optimization Tips
            </li>
        </ul>
    </div>
    <div class="col-md-5">
        <img src="assets/networking-interview.jpeg" class="imgSecondPart">
    </div>
    <div class="col-md-1">&nbsp;</div>

</div>
<div style="line-height: 30px;">&nbsp;</div>

<div class="row">
    <div class="col-md-1">&nbsp;</div>
    <div class="col-md-5">
        <img src="assets\colleagues-plan-at-table.jpeg" class="imgSecondPart">
    </div>
    <div class="col-md-5" style="line-height:70px ;">
        <span style="font-size: xx-large;">LinkedIn Review
            </span>
    <div style="line-height: 5px;">&nbsp;</div>
        <p style="font-size: 16px;">Get a customized review of your LinkedIn profile from an industry professional. Optimize your profile for recruiter search and boost your visibility. You will also understand how to leverage LinkedIn to grow your own professional network.
        </p>
        <p style="color:rgb(2, 106, 172);" >WHAT IS INCLUDED IN THE SERVICE:
        </p>
        <ul style="line-height: 2em;font-size: 16px;">
            <li>One Personalized Review</li>
            <li>
                Tips to Grow Your Network
            </li>
            <li>
                Receive industry tested tips to get your profile noticed
            </li>
        </ul>
    </div>    
    <div class="col-md-1">&nbsp;</div>

</div>
<div style="line-height: 30px;">&nbsp;</div>


<div class="row">
    <div class="col-md-1">&nbsp;</div>
 
    <div class="col-md-5" style="line-height:70px ;">
        <span style="font-size: xx-large;">GitHub Review

            </span>
    <div style="line-height: 5px;">&nbsp;</div>
        <p style="font-size: 16px;">Your GitHub profile is an important portfolio of your work. A technical professional will help you organize your profile to showcase your projects and skills.
        </p>
        <p style="color:rgb(2, 106, 172);" >WHAT IS INCLUDED IN THE SERVICE:
        </p>
        <ul style="line-height: 2em;font-size: 16px;">
            <li>One Personalized Review
                </li>
            <li>
                Polished Portfolio of Your Work
            </li>
            <li>
                Get feedback to ensure your projects stick out
            </li>
        </ul>
    </div>
    <div class="col-md-5">
        <img src="assets\woman-stetches-at-home-desk.jpeg" style="  width: 80%;
        height: 90%;
        padding: 20px;">
    </div>
    <div class="col-md-1">&nbsp;</div>

</div>

</section>
</div>