<div class="container-fluid">
    <section #sectionOne>
        <div class="contentImg " style="background-image:url(/assets/career-services-hero.jpg)">
            <div class="center">
                <div style="text-align: center; ">
                    <h6 style="font-size: .8125rem;">CAREER SERVICES</h6>
                    <h1 style="font-size: 2.5rem">Go from Job Search to Job Success</h1>
                    <div style="font-size: 16px;">The next step in your Career Journey
                        begins here. Udacity provides access to a wide variety of services
                        <br>
                        and support in order to help you
                        get results.
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">&nbsp;</div>
                </div>
                <div><button class="btn button--white">CAREER SERVICES</button>
                </div>
            </div>
        </div>
    </section>
    <section #sectionTwo>
        <div class="row">
            <div class="col-md-1">&nbsp;</div>

            <div class="col-md-5">
                <img src="/assets/get_noticed.jpg" class="imgSecondPart">
            </div>
            <div class="col-md-5" style="line-height:70px ;">
                <span style="font-size: xx-large;">Exclusive Job Postings</span>
                <p style="font-size: 16px;">Once you enroll you’ll have access to the latest job postings from Udacity,
                    our Partners and our Enterprise and Government customers -- such as Google, IBM, Shell and BMW.</p>

                <span style="font-size: xx-large;"> Get Noticed</span>
                <p style="font-size: 16px;">Our career offerings are designed to help you get the attention of
                    recruiters and hiring managers. Submit your resume, LinkedIn, or GitHub profiles and our experienced
                    team will provide actionable feedback.</p>
            </div>
            <div class="col-md-1">&nbsp;</div>

        </div>
        <div class="row">
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-5" style="line-height:70px ;">
                <span style="font-size: xx-large;">Leverage your Network</span>
                <p style="font-size: 16px;">Strengthen your networking muscles by getting connected to fellow students
                    and alumni. Use LinkedIn to get connected with others in your field.
                </p>

                <span style="font-size: xx-large;">Land the Job</span>
                <p style="font-size: 16px;">You’ve got the skills, now get the job. Use Udacity’s Career Project
                    services to optimize your application materials to help you get noticed. </p>
            </div>
            <div class="col-md-5">
                <img src="/assets/woman_smiling_while_networking.jpg" class="imgSecondPart">
            </div>
            <div class="col-md-1">&nbsp;</div>

        </div>
    </section>
</div>