.img{
    background-image:url(//www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/5eKhEHzItS6rhgQ8klUB6N/3eefdaf0e61afca26a7ba7b16c26e057/team-at-whiteboard-meeting-with-dark-overlay.jpg)
;    background-size: cover;
    padding:40px 80px 80px 80px;
    line-height:40px;
    text-align: center;
    color:white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    margin:10px;
}
.txt1
{
    line-height:50px;
    font-size: 36px;
}
.MainSection{
    margin-top:140px;
    margin-bottom:100px;
}
.btn{
    background-color: #017a9b;
    color: #eef3f5;
    width:20% ;
    font-size: 15px;
    }

    .contentful-hero_legible__2vPGP{
        font-size:20px;
    }
    .contain{
        margin:0 auto;
        text-align: center;
        width:56%
        ;
    }

    .text-center{
        font-size:25px;
        color: #525c65;
        font-family: Open Sans,sans-serif;
        -webkit-font-smoothing: antialiased;
        line-height:40px;}
    
        .example-card {
            width: 70%;
            text-align: center;
            margin:0 auto;
            box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
           margin-top:2%;
           margin-bottom:10%;
          }
          
         
          .mat-card-title2{
              color:#017a9b;
              font-size: 30px;
              font-weight: bold;
             
          }
          .mat-card-subtitle2{
            font-weight: bold;
            font-size: 20px;
            color: black;
          }
          
          
          
          
.headerContent{
    margin:0 auto;
 
}
 .Content{
     display: flex;
     justify-content: center;


 }
 .mat{
     font-size:15px;
   
     font-weight: bold;
 }
 .img2{
     margin-bottom: 10%;
 }
 .contentPart{
     margin-right:15px ;
     width: 25%;
     margin-top:2%
 }
 .mat2{
   font-size: 24px;
   color: #017a9b;
   font-weight: bold;
   

 }
