<div class="img">
    <div class="MainSection">
    <h4>Udacity for Corporate Social Responsibility</h4>

  
    <h1 class="txt1">Currently, only 6.8% of computing and math-related jobs are held by Black and Latinx people.</h1>


   <div class="contentful-hero_legible__2vPGP">By partnering with Udacity to sponsor a scholarship program for underrepresented groups,  you can<br> make an outsized impact in your organization and in local communities.</div>
 <br>
   <button type="submit" class="btnSignIn" mat-button color="primary" class="btn" >
    Learn More   </button>   

</div>
   </div>
   <br>
   <br>
   <br>


<section class="contain">
 
        <h3 class="text-center">
           Udacity can help you create a pipeline of qualified individuals from underrepresented communities who are ready to make an impact on day one of their new job.
        </h3>
   
</section>
<br>
<br>
<mat-card class="example-card">

    <mat-card-content>
        <div class="Content">
     <div class="contentPart">
         <img  class="img2" src="//www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/4AgFjqNWCQH2dYpwusebnW/e8c8ce54a356440d4cad624adead8895/Real_World_Projects.jpg">
        <br> 
        <mat-label class="mat">Real-World Projects</mat-label>
        <br> <br>
        <p>
            Udacity’s tech-skills-focused Nanodegree programs can prepare your workforce for high-demand jobs in data science, A.I. and machine learning.
</p>     </div>
     <div class="contentPart">
        <img class="img2" src="//www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/6hQES6ugSjhwbsRtY7dNsJ/6ba7e8380d202542a0c087191be8f89f/Mentor_Support.jpg">
<br>
        <mat-label class="mat">24/7 Mentor Support</mat-label>
       <br><br> <p>
        On-demand help is available anytime so your workforce can learn better, faster. Plus, learners get personalized feedback on projects.</p>     </div>
     <div class="contentPart">
        <img class="img2" src="//www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/3SrhnIvVAMFNlcFK29sXpE/68eb4a7a18ed5faa74eefdd38d80ff42/Learner_Outcomes.jpg">
       <br>
        <mat-label class="mat">Incredible Learner Outcomes</mat-label>
        <br>
        <br><p>70% of learners who graduated with a Nanodegree program had positive career outcomes, and 50% received a median pay increase of 33%.</p>
     </div>
    </div>
    </mat-card-content>
  
  </mat-card>

  <br>
  <br>
  