<div class="container-fluid">

    <div style="text-align: center;">
        <button class="btn btn-outline-dark" (click)="ShowAddQuestionOption()" id="btnitem">Add Multi-Choice Questions
        </button>
        <button class="btn btn-outline-dark" (click)="ShowList()" id="btnitem">Show Multi-Choice Questions </button>
    </div>
    <hr>

    <div *ngIf="isOpen then add else table "></div>
    <ng-template #add>
        <div class="home">
            <div style="text-align: left;">
                <h1 class="titel" >Multi-Choice Questions</h1>
                <h4 class="description">{{AddOrUpdate}}</h4>
            </div>
            <hr>
            <form style="padding: 10px; margin-bottom: 10%">
                <div>
                    <mat-label>Question: </mat-label><br>
                    <select [(ngModel)]="Questionoption.qustionId" #qustionId="ngModel"  id="qustionId" name="qustionId" required>
                        <option *ngFor="let Que of QuestionList" value="{{Que.id}}">{{Que.title}}</option>
                    </select>
                </div>

                <div>
                    <mat-label>Option1:</mat-label><br>
                    <textarea id="QOption1" style name="QOption1" #QOption1="ngModel" required
                        [(ngModel)]="Questionoption.opt1">{{Questionoption.opt1}}</textarea>
                        <div  *ngIf="QOption1?.invalid  && QOption1?.touched">
                            <strong  style="font-size: 15px;">
                              <p class="alert alert-danger"  style="font-size: 15px;padding: 0;" *ngIf="QOption1?.errors?.required">Question Option1 Required</p> 
                            </strong>   
                          </div> 
                </div>

                <div>
                    <mat-label>Option2:</mat-label><br>
                    <textarea id="QOption2" style name="QOption2" #QOption2="ngModel" required
                        [(ngModel)]="Questionoption.opt2">{{Questionoption.opt2}}</textarea>
                        <div  *ngIf="QOption2?.invalid  && QOption2?.touched">
                            <strong  style="font-size: 15px;">
                              <p class="alert alert-danger"  style="font-size: 15px;padding: 0;" *ngIf="QOption2?.errors?.required">Question Option2 Required</p> 
                            </strong>   
                          </div> 
                </div>

                <div>
                    <mat-label>Option3:</mat-label><br>
                    <textarea id="QOption3" style name="QOption3" #QOption3="ngModel" required
                        [(ngModel)]="Questionoption.opt3">{{Questionoption.opt3}}</textarea>
                        <div  *ngIf="QOption3?.invalid  && QOption3?.touched">
                            <strong  style="font-size: 15px;">
                              <p class="alert alert-danger"  style="font-size: 15px;padding: 0;" *ngIf="QOption3?.errors?.required">Question Option3 Required</p> 
                            </strong>   
                          </div>   
                </div>
                <div>
                    <mat-label>Option4:</mat-label><br>
                    <textarea id="QOption4" style name="QOption4" #QOption4="ngModel" required
                        [(ngModel)]="Questionoption.opt4">{{Questionoption.opt4}}</textarea>
                        <div  *ngIf="QOption4?.invalid  && QOption4?.touched">
                            <strong  style="font-size: 15px;">
                              <p class="alert alert-danger"  style="font-size: 15px;padding: 0;" *ngIf="QOption4?.errors?.required">Question Option4 Required</p> 
                            </strong>   
                          </div>   
                </div>
                <div>
                    <mat-label>Right Answer: </mat-label><br>
                    <input type="text" id="RightQOptions" name="RightQOptions" #RightQOptions="ngModel" required 
                        [value]="Questionoption.right" [(ngModel)]=" Questionoption.right">
                        <div  *ngIf="RightQOptions?.invalid  && RightQOptions?.touched">
                            <strong  style="font-size: 15px;">
                              <p class="alert alert-danger"  style="font-size: 15px;padding: 0;" *ngIf="RightQOptions?.errors?.required">Right Answer Required</p> 
                            </strong>   
                          </div>   
                </div>
                 

            <br>
                <div *ngIf="Questionoption.id!=check; then update else add"></div>
                <ng-template #update>
                    <button mat-button type="submit" class="btnSubmit" class="btn btn-primary" 
                        (click)="UpdateQuestionOption(Questionoption,Questionoption.id)">{{AddOrUpdate}}</button>
                </ng-template>
                <ng-template #add>
                    <button mat-button type="submit" class="btnSubmit" 
                    class="btn btn-primary" (click)="AddQuestionOption()">{{AddOrUpdate}}</button>
                </ng-template>

            </form>
        </div>
    </ng-template>
    <ng-template #table>
        <div class="row" style="background-color:rgb(159, 215, 241);width: 100%; height: 70px;font-weight: bolder;">
            <div class="col-md-12 centerText">
                <h1 style="font-size: xx-large;text-align: center;">Multi-Choice Questions</h1>
            </div>
        </div>
        <div *ngFor="let Ques of QuestionList">


            <div *ngFor="let QOption of AllQuestionOption , let i=index" class="card">
                <div class="row">
                    <div *ngIf="QOption.qustionId === Ques.id">

                        <div class="col-md-1">&nbsp;</div>
                        <div class="col-md-4">
                            <mat-card class="dataOfObjective" style="border-top-color: #0094f7">

                                <mat-label class="titleData" style="text-align: center;">{{Ques.title}}</mat-label>

                                <br>
                                <table style="width: 60%;text-align: center;">
                                    <tr>
                                        <th>Option1</th>
                                        <td>{{QOption.opt1}}</td>

                                    </tr>
                                    <tr>
                                        <th>Option2</th>
                                        <td>{{QOption.opt2}}</td>
                                    </tr>
                                    <tr>
                                        <th>Option3</th>
                                        <td>{{QOption.opt3}}</td>
                                    </tr>
                                    <tr>
                                        <th>Option4</th>
                                        <td>{{QOption.opt4}}</td>
                                    </tr>
                                </table>

                                <br>
                                <mat-label class="titleData" style="text-align: center;">
                                    Right Answer:
                                </mat-label>
                                <br>
                                <mat-label
                                    style="text-align: center;line-height: 22px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
                                    {{QOption.right}}
                                </mat-label>
                                <br>
                                <br />
                                <button class="btn btn-outline-danger" style="margin: 10px;width: 250px;"
                                    (click)="deleteQuestionOption(QOption.id)">Delete</button>
                                <button class="btn btn-outline-primary" style="margin: 10px;width: 250px;"
                                    (click)="UpdateQuestionOptionForm(QOption)">Update</button>
                            </mat-card>
                        </div>
                        <div class="col-md-1">&nbsp;</div>
                    </div>
                </div>

            </div>
        </div>
    </ng-template>
</div>