
<!-- <app-settings></app-settings> -->
<div id="part1">
<mat-card class="card">
    <form #form>
        <h1 style="margin-left: 60px;margin-top: 30px;">Basic Information</h1>
    <img src="assets/i.png" >
    <mat-card-header>
        <mat-card-title>
            <mat-form-field class="example-full-width">
                <mat-label>Full Name</mat-label>
                <input type="text" matInput formControlName="name">
              </mat-form-field>
        </mat-card-title>
      <mat-card-title >
        <div style="display: flex;">
          <div>
         <mat-form-field class="example-full-width">
        <input type="email" matInput formControlName="email" placeholder="Email">
      </mat-form-field></div>
      <div>
      <button type="submit" mat-raised-button 
    style="text-transform: uppercase;width: 150px;height: 50px;margin-top: -650px;"  [disabled]="form.invalid">
        Verify Email 
    </button></div>
  </div>
    </mat-card-title>
    <mat-card-title>
        <mat-form-field class="example-full-width">
       <input type="tel" matInput formControlName="tel" placeholder="tel">
     </mat-form-field>
     <button type="submit" mat-raised-button 
   style="text-transform: uppercase;width: 120px;height: 50px;margin-top: -150px;background-color: teal;color: white;"  [disabled]="form.invalid">
    Send Code 
   </button>
   </mat-card-title>
        </mat-card-header>
        <mat-icon style="color:#ffae0c;">error_outline</mat-icon>
<h3 style="margin-top:-30px ;margin-left: 30px;">email verification before SMS verification</h3>

    </form>
</mat-card>

</div>


    <div style="float: right; margin-top: 10px;">
      <button mat-raised-button class="btnCancel">CANCEL</button>
      <button mat-raised-button  color="primary" class="btnSave" [disabled]="form.invalid">SAVE</button>
    </div>