.home{
  padding-bottom: 40px;
}
#part1{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    width: 100%;
    // width: 400px;
}
#two{
    // display: inline-block;
   float: right;
    
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin-top: 70px;
  }
  .example-full-width {
    width:400px;
    // top: -140px;
    // margin-left: 120px;


  }
  img{
      width: 120px;
      border-radius: 70px;
      padding-top: 50px;
  }
 .card{
    box-shadow: 2px 2px 8px rgb(231, 231, 231);
    // width:900px;
    // height: 400px;

 }
 .btnCancel{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-right: 10px;
  height: 50px;
  border-radius: 10px;
}
.btnSave{
  background-color: #017a9b;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 50px;
  border-radius: 10px;
}
.mat-card{
  padding: 70px 50px 50px 50px;
  width: 100%;
}
.mat-card-title{
  font-weight: 100;
}
.requestTitel{
  font-weight: 500;
  letter-spacing: 1px;
}
.prag{
  color: gray;
}
.btnVerification{
  height: 50px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(85, 85, 85, 0.2), 0 6px 20px 0 rgba(87, 87, 87, 0.19);
}