<div class="home">
<!-- <app-settings></app-settings> -->
<div id="part1">
<mat-card class="card">
    <form #form>
        <h1 style="margin-left: 60px;margin-top: 30px;">Basic Information</h1>
    <img src="assets/i.png" >
    <mat-card-header>
        <mat-card-title>
            <mat-form-field class="example-full-width">
                <mat-label>Full Name</mat-label>
                <input type="text" matInput formControlName="name">
              </mat-form-field>
        </mat-card-title>
      <mat-card-title >
        <div style="display: flex;">
          <div>
         <mat-form-field class="example-full-width">
        <input type="email" matInput formControlName="email" placeholder="Email">
      </mat-form-field></div>
      <div>
      <button type="submit" mat-raised-button 
    style="text-transform: uppercase;width: 150px;height: 50px;margin-top: -650px;"  [disabled]="form.invalid">
        Verify Email 
    </button></div>
  </div>
    </mat-card-title>
    <mat-card-title>
        <mat-form-field class="example-full-width">
       <input type="tel" matInput formControlName="tel" placeholder="tel">
     </mat-form-field>
     <button type="submit" mat-raised-button 
   style="text-transform: uppercase;width: 120px;height: 50px;margin-top: -150px;background-color: teal;color: white;"  [disabled]="form.invalid">
    Send Code 
   </button>
   </mat-card-title>
        </mat-card-header>
        <mat-icon style="color:#ffae0c;">error_outline</mat-icon>
<h3 style="margin-top:-30px ;margin-left: 30px;">email verification before SMS verification</h3>

    </form>
</mat-card>

</div>

<div style="float: right; margin: 10px 0px 10px 0px ; margin-bottom: 10%;">
  <button mat-raised-button class="btnCancel">CANCEL</button>
  <button mat-raised-button  color="primary" class="btnSave" [disabled]="form.invalid">SAVE</button>
</div>
<br><br><br><br>
<!-- -------------------------------------------------------------------- -->
<mat-card>
  <mat-card-title>Account Management</mat-card-title><br>
  <mat-label class="titel">REQUEST ACCOUNT DATA</mat-label><br><br>
  <mat-label class="prag">Verify your email address so that we send your data to the correct place.</mat-label><br><br><br>
  <button class="btnVerification" mat-raised-button >SEND VERIFICATION</button><br><br><br>
  
  <mat-label class="titel">DELETE YOUR ACCOUNT</mat-label><br><br>
  <mat-label class="titel" >NOTE: You must cancel any active enrollments prior to deleting your account, to avoid any future charges.</mat-label><br><br>
  <mat-label class="prag">
    Before deleting your account, please review the following:
    <ul>
      <li>If you delete your account, all of your personal information, including enrollments and certificates, will be deleted. You will immediately lose access to your account and be unable to log in.</li>
      <li>This action is irreversible - once your data has been deleted, we cannot recover it again.</li>
      <li>You will not be able to sign up again using the same email address for 30 days.</li>
    </ul>
    To prevent account deletion by accident, we have a 2-step verification process. Click below to get a delete code sent to your email. Use that code to verify your request and to continue with the deletion process.
  </mat-label><br><br><br>
  <button class="btnVerification" mat-raised-button >SEND DELETE CODE</button><br><br><br>
</mat-card>
</div>