.home{
    width: 60%;
    margin: 0 auto;
    padding: 10% 0% 10% 0%;
    text-align: center;
}
.titel{
    color: #107a9b;
    font-size: 35px;
}
.description{
    font-size: 20px;
}
mat-label{
    font-size: 18px;
    float: left;
}
input, select{
    width: 100%;
    height: 40px;
    border: 1px solid;
    border-color: rgb(190, 190, 190);
    border-radius: 10px;
}
.btnSubmit{
    background-color: #1495bd;
    color: white;
    padding: 4px 12px 4px 12px;
    text-align: center;
    border-radius: 10px;
}
thead{
    background-color:#6183a5;
    align-content: center;
    color: white;
}
#all{
    font-size: 15px; 
    font-family: 100;
}
.titelTabel{
    font-weight: 100;
}
#btn{
    margin: 60px;
    color: rgb(1, 59, 59);
    
}
#btn:hover{
    color: white;
}

.btn-block{
    background-color: rgb(207, 63, 63);
    border: none;
    
}
.btn-outline-dark{
    background-color: rgb(119, 200, 126);
    border: none;
    border-radius:70%;
}


.btn-outline-dark2{
    background-color:#6183a5;

    border: none;
}

.btn-block2{
    background-color: rgb(119, 200, 126);
    border: none;
    
}


body {
    background-color: #eecda3;
    background-color: -webkit-linear-gradient(to right, #eecda3, #6183a5);
    background-color: linear-gradient(to right, #eecda3, #6183a5);
  width: auto;
  height: auto;
  }



