<button class="btn btn-outline-dark" (click)="addNew()" id="btn" >Add New Lesson </button>
<div *ngIf="isOpen then tab"></div>
<ng-template #tab>
    <div class="home">
        <h1 class="titel">Lecture</h1>
        <h4 class="description">Add New Lecture</h4><br><br>
        <form>
            <div>
                <mat-label>Name:</mat-label><br>
                <input type="text">
            </div><br>
    
            <div>
                <mat-label>Description:</mat-label><br>
                <input type="text">
            </div><br>
    
            <div>
                <mat-label>Type: </mat-label><br>
                <input type="text">
            </div><br>
    
            <div>
                <mat-label>Lessone Number: </mat-label><br>
                <input type="text">
            </div><br>
    
            <div>
                <mat-label>Duration: </mat-label><br>
                <input type="text">
            </div><br>
    
            <div>
                <mat-label>Lecture: </mat-label><br>
                <select>
                        <option *ngFor="let lecture of allLecture" value="lecture.id">{{lecture.tilte}}</option>
                </select>
            </div><br>
    
    
    
            <button mat-button type="submit" class="btnSubmit">SUBMIT</button>
        </form>
    </div>
</ng-template>
