<div class="container-fluid">
  <div style="text-align: center;">
  <button class="btn btn-outline-dark" (click)="ShowAddNewCategory()" id="btnitem">Add Category </button>
  <button class="btn btn-outline-dark" (click)="ShowList()" id="btnitem">Show Categories </button>
</div>
<hr>
<div *ngIf="isOpen then add else table"></div>
<ng-template #add>
  <div class="home">
    <div style="text-align: left;">  
    <h1 class="titel">Category</h1>
    <h4 class="description">{{AddOrUpdate}} Category</h4><br><br>
   </div>
    <form style="margin-bottom: 10%;">
        <div>
            <mat-label>Name:</mat-label><br>
            <input type="text" id="txtNameCategory" name="txtNameCategory"  #txtNameCategory="ngModel" [value]="Category.catName" [(ngModel)]="Category.catName" required>
            <div  *ngIf="txtNameCategory?.invalid  && txtNameCategory?.touched">
              <strong  style="font-size: 15px;">
                <p class="alert alert-danger"  style="font-size: 15px;padding: 0;" *ngIf="txtNameCategory?.errors?.required">Category Name Required</p> 
              </strong>   
            </div>     
        </div><br>

        <div>
            <mat-label>Image:</mat-label><br>
            <!-- <input type="text"> -->
            <img *ngIf="catImg" [src]="createImgPath(Category.catImage)" #CatLogo id="CatLogo" name="CatLogo" 
                        style="width: 50%;height: 50%;">
                    <br>                    
                    <br>
                    <div *ngIf="Category.id!=check; then updatelogoImg else addlogoImg"></div>
                    <ng-template #updatelogoImg>
                        <div class="form-group my-3">
                            <app-upload (onUploadFinished)="uploadUpdateCatLogoFinished($event,Category.id,Category)" required>
                            </app-upload>
                        </div>
                    </ng-template>
                    <ng-template #addlogoImg>
                        <div class="form-group my-3">
                            <app-upload (onUploadFinished)="uploadCatImgLogoFinished($event)"></app-upload>
                        </div>
                    </ng-template>
                
        </div><br>

        <div>
            <mat-label>Description:</mat-label><br>
            <input type="text" id="txtDescriptionCategory" name="txtDescriptionCategory" #txtDescriptionCategory="ngModel" [value]="Category.catDescription" [(ngModel)]="Category.catDescription" required>
            <div  *ngIf="txtDescriptionCategory?.invalid  && txtDescriptionCategory?.touched">
              <strong  style="font-size: 15px;">
                <p class="alert alert-danger"  style="font-size: 15px;padding: 0;" *ngIf="txtDescriptionCategory?.errors?.required">Category Description Required</p> 
              </strong>   
            </div> 
        </div><br>
        <div *ngIf="Category.id!=check; then update else add"></div>
        <ng-template #update>
            <button mat-button type="submit" class="btnSubmit" (click)="UpdateCatData()">Update</button>
        </ng-template>
        <ng-template #add>
            <button mat-button type="submit" class="btnSubmit" (click)="AddNewCategory()">ADD</button>
        </ng-template>

        <!-- <button mat-button type="submit" class="btnSubmit">SUBMIT</button> -->
    </form>
</div>
</ng-template>

<ng-template #table>
  <table class="table table-hover" class="home" style="align-content: center;margin-top: 80px;  border-bottom: 2px solid #dee2e6;">
    <thead >
      <tr >
        <th scope="col"class="all" >#</th>
        <th scope="col" style="font-size: 20px; font-weight: 400;padding: 10px;">Name</th>
        <th scope="col" style="font-size: 20px; font-weight: 400;padding: 10px;">Image</th>
        <th scope="col" style="font-size: 20px; font-weight: 400;padding: 10px;">Description</th>
        <th scope="col" style="font-size: 20px; font-weight: 400;padding: 10px;">Update</th>
        <th scope="col" style="font-size: 20px; font-weight: 400;padding: 10px;">Delete</th>    
      </tr>
    </thead>
    <tbody *ngFor="let category of allCategory , let i=index" >
      <tr style="border-bottom: 2px solid #dee2e6;">
        <th scope="row"  >
        <td>{{category.catName}}</td>
        <td>
          <img  [src]="createImgPath(category.catImage)" #CatLogo id="CatLogo" name="CatLogo" 
          width="100" height="100" style="margin:20px ;" alt="error">
          <!-- <img src="../../../assets/i1.png" width="100" height="100" alt="error"></td> -->
        <td>{{category.catDescription}}</td>
        <td><button class="btn btn-outline-primary" (click)="updateCatbtnClick(category)" >Update</button></td>
        <td><button class="btn btn-outline-danger" (click)="deleteCatbtnClick(category.id)" >Delete</button></td>    
      </tr>
    </tbody>
  </table>
  
  

    
  </ng-template>

</div>
