<mat-toolbar style="background-color: white; padding: 50px 10px 50px 10px ;">
    <img mat-card-md-image routerLink="/Home" src="assets/udacity.svg" style="width: 30px; height: 30px; margin: 30px; margin-left: 100px;">
    <h1>U D A C I T Y</h1>

    
    <button mat-button [matMenuTriggerFor]="menu" style="margin-left: 210px; margin-right: -15px; font-size: 15px; color: rgb(133, 131, 131);">Programs </button>
    <img mat-card-md-image routerLink="/Home" src="assets/deletedrop.PNG" style="width: 25px; height: 25px;" >
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="menu" style="margin-left: 20px; margin-right: -15px; font-size: 15px; color: rgb(133, 131, 131);">Careers</button>
    <img mat-card-md-image routerLink="/Home" src="assets/deletedrop.PNG" style="width: 25px; height: 25px;" >
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="menu" style="margin-left: 20px; margin-right: -15px; font-size: 15px; color: rgb(133, 131, 131);">For Enterprise</button>
    <img mat-card-md-image routerLink="/Home" src="assets/deletedrop.PNG" style="width: 25px; height: 25px;" >
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="menu" style="margin-left: 20px; margin-right: -10px; font-size: 15px; color: rgb(133, 131, 131);">For Government</button>


<p style="padding-top: 8px; margin-left: 25px; color: rgb(98, 97, 97);">|</p>
<button mat-button  routerLink="SignIn" style="margin: 0px 10px 0px 10px; font-size: 15px; color: rgb(133, 131, 131);">Sign In</button>

    <button mat-raised-button  routerLink="SignUP" style=" background-color: #017a9b; color: white; letter-spacing: 2px; height: 35px;">GET START</button>
    <!-- <button mat-raised-button  routerLink="SignUP" style=" background-color: #063846; color: white; margin: 200px; display: flex;">Get Start</button> -->

</mat-toolbar>

<!-- margin: 200px; display: flex; -->