   <!-- Links -->
<div>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
    integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
    crossorigin="anonymous"></script> 

</div>
<button class="btn btn-outline-dark" (click)="addNew()" id="btn" >Add New Sub Category </button>
<div *ngIf="isOpen then tab"></div>

<ng-template #tab>
  <table class="table table-hover" style="width: 900px;margin-left: 150px;align-content: center;margin-top: 80px;">
    <thead >
      <tr >
        <th scope="col"class="all" >#</th>
        <th scope="col" style="font-size: 20px; font-weight: 400;padding: 10px;">Sub category Title</th>
        <th scope="col" style="font-size: 20px; font-weight: 400;padding: 10px;">categoryID</th>
        <th scope="col" style="font-size: 20px; font-weight: 400;padding: 10px;width: 100%;">Sub category Description</th>
        <th scope="col" style="font-size: 20px; font-weight: 400;padding: 10px;">Update</th>
        <th scope="col" style="font-size: 20px; font-weight: 400;padding: 10px;">Delete</th>

      </tr>
    </thead>
    <tbody *ngFor="let item of allSubCategory , let i=index" >
      <tr >
        <th scope="row"  >{{i+1}}</th>
        <td>{{item.subCategoryTitle}}</td>
        <td>{{item.categoryID}}</td>
        <td  style="width: 600px;">{{item.subCategoryDescribtion}}</td>
        <td><button class="btn btn-outline-dark" (click)="updateElement(item.id)">Update</button></td>
        <td><button class="btn btn-outline-dark" (click)="DeleteItem(item.id)">Delete</button></td>    
      </tr>
    </tbody>
  </table>
</ng-template>
<div *ngIf="isOpen then name"></div>
<ng-template #name>
  <div class="formAdd">
    <form (ngSubmit)="onsubmit()" [formGroup]="addSubCategoryForm">
      {{ addSubCategoryForm.value | json }}
      <div class="form-row">
        <div class="col-lg-6">
        <h1>  Add Sub Category Title</h1>
          <input type="text" class="form-control" placeholder="tilte" formControlName="subCategoryTitle" [value]="SubCategoryByid.subCategoryTitle">
        </div>
        <div class="col">
          <h1>  Add Sub Category Description</h1>
          <input type="text" class="form-control" placeholder="lecture Description" formControlName="subCategoryDescribtion"  [value]="SubCategoryByid.subCategoryDescribtion">
        </div>
        <div class="col-lg-6">
          <h1>Choose Category</h1>
          <div class="input-group " style="width: 350px;">
            <select class="custom-select-sm btn btn-block  btn-outline-dark" id="inputGroupSelect01" formControlName="categoryID">
            <option selected>Choose Category</option>
              <option  *ngFor="let i of allCategory async" [value]="i.id">{{i.catName}}</option>
            </select>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-outline-light " id="btnAdd">Add Sub Category</button>
    </form>
    </div>
</ng-template>



