
<section class="parent">
    <h1 style="text-align: center; font-weight: 200; font-size: 40px; margin: 60px; padding-top: 80px; ">Strength in
        numbers</h1>
    <div>
        <div id="one">
            <h2><img src="assets/hat.svg"></h2>
            <h1 style="font-size: 25px; font-weight:100;">100,000+ </h1>
            <h1 style="font-size: 20px; font-weight: 400;"> Udacity graduations and <br> counting</h1>
        </div>

        <div id="one">
            <h2><img src="assets/star.svg"></h2>
            <h1 style="font-size: 25px; font-weight: 100;"> 200+ </h1>
            <h1 style="font-size: 20px; font-weight: 400;"> Industry experts partnering <br> to build our content</h1>
        </div>

        <div id="one">
            <h2><img src="assets/raise.svg"></h2>
            <h1 style="font-size: 25px; font-weight: 100;"> 100+ </h1>
            <h1 style="font-size: 20px; font-weight: 400;"> Enterprise customers <br> world-wide</h1>
        </div>

    </div>

    <div id="rest">
        <div id="first">

            <div class="imgs">
                <img src="assets/Jesse.webp" style="width: 70px;">
            </div>
            <div id="remain">
                <h1 style="text-align: center; font-size: 30px; font-weight: 100;color: black;">Jesse</h1>
                <h6 style="font-weight: 400; font-size: 15px;">
                    "The curriculum was directly targeted toward<br>
                    <br>
                    applied techniques with high profile projects –<br>
                    <br>
                    real datasets with industry partners.It helped<br>
                    <br>
                    me achieve my career transition goal."
                    <br>
                    <br>
                    <br>
                    <br>
                </h6>
            </div>
            <div style="margin-top: 10px;">
                <h4 id="now">
                    <br>
                    NOW AT
                    <br>
                    <br>
                    Raytheon | Data Scientist
                </h4>
            </div>




        </div>


        <div id="second">

            <div class="imgs">
                <img src="assets/Sundar.webp" style="width: 70px;">
            </div>
            <div id="remain">
                <h1 style="text-align: center; font-size: 30px; font-weight: 100;color: black;">Sundar</h1>
                <h6 style="font-weight: 400; font-size: 15px;">
                    "The curriculum was aligned with what I<br>
                    <br>
                    wanted to study. The assignments are specific<br>
                    <br>
                    to the industry I’m in. I was able to develop<br>
                    <br>
                    new language translation tools for my company."
                    <br>
                    <br>
                    <br>
                    <br>
                </h6>
            </div>
            <div style="margin-top: 10px;">
                <h4 id="now">
                    <br>
                    NOW AT
                    <br>
                    <br>
                    Comcast | Lead Data Scientist
                </h4>
            </div>




        </div>

        <div id="first">

            <div class="imgs">
                <img src="assets/David.webp" style="width: 70px;">
            </div>
            <div id="remain">
                <h1 style="text-align: center; font-size: 30px; font-weight: 100;color: black;"> David</h1>
                <h6 style="font-weight: 400; font-size: 15px;">
                    "One of the things that attracted me to<br>
                    <br>
                    Udacity was a curriculum developed by<br>
                    <br>
                    to the industry I’m in. I was able to develop<br>
                    <br>
                    people that worked for some of the biggest
                    <br>
                    and most successful tech companies.”
                    <br>
                    <br>
                    <br>
                </h6>
            </div>
            <div style="margin-top: 10px;">
                <h4 id="now">
                    <br>
                    NOW AT
                    <br>
                    <br>
                    Panera Bread | Data Administrator
                </h4>
            </div>




        </div>
    </div>
    <a mat-raised-button routerLink="/"
        style="  background-color: #275c6b; color: white;margin-top: 90px; margin-left: 660px;  letter-spacing: 2px;">More
        Success Stories</a>



</section>
