<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


<div class="container-fluid">

<section #SectionOneQuats class="bg" >
    <div style="line-height: 50px;"> &nbsp;</div>
    <div class="row">
        <div class="col-md-12" style="text-align: center;">
            <h1 style="    font-size: 3.5em;            ">Success Stories from Our Students</h1>
        </div>
    </div>
    <div style="line-height: 100px;">&nbsp;</div>
    <div class="container-fluid"  >
      <div >
    <ngb-carousel *ngIf="studentStoryList">    
      <ng-template ngbSlide  *ngFor="let studentStory of studentStoryListTopFive;index as i" >        
        <div class="wrapper">      
          <div style="text-align:center;" class="">
          <h1>{{studentStory.story}}</h1>
          <h3>{{names[i]}}--{{studentStory.specialzation}}</h3>          
           </div>
          </div>           
      </ng-template>     
    </ngb-carousel>
  </div>
    </div>
</section>

<section #SectionTwoStories >

</section>
</div>