<div class="home">
    <mat-label class="titel">Subscriptions & Billing</mat-label><br><br>
    <div style="display: flex; padding-left: 40px;">
        <div>   
            <img src="../../assets/sleep.JPG" alt="error" >
        </div>
        <div style="padding: 30px 0px 0px 20px; text-align: center;">
            <mat-label class="titel">You have yet to enroll in a Nanodegree program.</mat-label><br><br>
            <button mat-raised-button  color="primary" class="btnProgram">SEE OUR PROGRAMS</button>
        </div>
    </div> <br><br>
    <mat-card class="card">
        <mat-card-header style="background-color: rgb(255, 250, 250); padding:15px 0px 15px 5px;">PAYMENT METHOD</mat-card-header><br>
        <div class="dataCard">
            <div>
                <img src="../../assets/enrollSetting.gif" alt="error"  width="110px" height="120px">
            </div>
            <div style="margin-left: 13px;">
                <mat-label>Add a credit or debit card to make future purchases faster. This may unlock the auto-renew option so you never miss a payment.</mat-label><br><br>
                <button mat-raised-button>ADD PAYMENT METHOD</button>
            </div>
        </div>
    </mat-card><br><br><br>
    <mat-label class="help">NEED HELP?</mat-label><br>
    <mat-label class="help">Check out<mat-label style="color: #017a9b;"> Help and FAQs </mat-label></mat-label>
</div>    