<div class="container-fluid">

    <div style="text-align: center;">
        <button class="btn btn-outline-dark" (click)="ShowAddTrueAndFalseQuestion()" id="btnitem">Add TrueAndFalseQuestion </button>
        <button class="btn btn-outline-dark" (click)="ShowList()" id="btnitem">Show TrueAndFalseQuestion </button>
    </div>
<hr>

    <div *ngIf="isOpen then add else table "></div>
    <ng-template #add>
        <div class="home">
            <div style="text-align: left;">
                <h1 class="titel">TrueAndFalseQuestion</h1>
                <h4 class="description">{{AddOrUpdate}} TrueAndFalseQuestion</h4>
            </div>
            <hr>
            <form style="padding: 10px; margin-bottom: 10%">
                <div>
                    <mat-label>RightAnswer: </mat-label><br>
                    <input type="text" id="RightAnswer" name="RightAnswer" #RightAnswer [value]="TrueAndFalseQuestion.right"
                        [(ngModel)]="TrueAndFalseQuestion.right">
                </div>
                <br>
                <div>
 
                    <mat-label>Question: </mat-label><br>
                    <select [(ngModel)]="TrueAndFalseQuestion.qustionId" #qustionId id="qustionId" name="qustionId">
                        <option *ngFor="let Que of QuestionList" value="{{Que.id}}">{{Que.title}}</option>
                    </select>
                </div><br>
           <div *ngIf="TrueAndFalseQuestion.id!=check; then update else add"></div>
                <ng-template #update>
                    <button mat-button type="submit" class="btnSubmit" (click)="UpdateTrueAndFalseQuestion(TrueAndFalseQuestion,TrueAndFalseQuestion.id)">{{AddOrUpdate}}</button>
                </ng-template>
                <ng-template #add>
                    <button mat-button type="submit" class="btnSubmit" (click)="AddTrueAndFalseQuestion()">{{AddOrUpdate}}</button>
                </ng-template>

            </form>
        </div>
    </ng-template>
    <ng-template #table>
            <div *ngFor="let Ques of QuestionList">
                  <div class="row" style="background-color:rgb(159, 215, 241);width: 100%; height: 70px;font-weight: bolder;">
                                <div class="col-md-12 centerText">
                                    <h1 style="font-size: xx-large;text-align: center;">{{Ques.type}}</h1>
                                </div>
                     </div>
             
                <div *ngFor="let TF of AllTrueAndFalseQuestion , let i=index" class="card">
                    <div class="row" >
                        <div *ngIf="TF.qustionId === Ques.id">
                            
                            <div class="col-md-1">&nbsp;</div>
                            <div class="col-md-4">
                                <mat-card class="dataOfObjective" style="border-top-color: #0094f7">
                                   
                                    <mat-label class="titleData" style="text-align: center;">{{Ques.title}}</mat-label>
                                  
                                    <br>
                                    <mat-label class="titleData" style="text-align: center;">
                                       Right Answer:
                                    </mat-label>
                                    <br>
                                    <mat-label
                                        style="text-align: center;line-height: 22px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
                                        {{TF.right}}
                                    </mat-label>
                                    <br>
                                    <br />
                                    <button class="btn btn-outline-danger" style="margin: 10px;width: 250px;"
                                        (click)="deleteTrueAndFalseQuestion(TF.id)">Delete</button>
                                    <button class="btn btn-outline-primary" style="margin: 10px;width: 250px;"
                                        (click)="UpdateTrueAndFalseQuestionForm(TF)">Update</button>
                                </mat-card>
                            </div>
                            <div class="col-md-1">&nbsp;</div>
                        </div>
                        </div>
              
                </div>
            </div>
    </ng-template>
</div>