
<div class="img">
    <br>
    <br>
    <p>WE LOOK AT LEARNING IN A DIFFERENT WAY.</p>
    <br><br>
    <mat-label class="txtimg">  A Differentiated Approach </mat-label>
    <br>
    
    
 <br>

 <mat-label class="txt">We are not an online catalog consisting of thousands of short videos that teach<br>
    only the most basic of skills.</mat-label>
<br>
<br>
<div class="cent">
    
<a href="#id-6Dmq4oQ8vHm9ImaBwk6AtD" class="button btn button--blue " >Request a Consult</a>
</div>
<br><br>
</div>


<div class="contain">
    <h6 class="mb-0 text-center">
        <div class="title">
            <h1>We are Powered by Industry</h1>
    <br>
   <p style="font-size: medium; "> Our Nanodegree programs are built with the world's most forward-thinking companies<br>
    and industry luminaries.</p></div>
</h6>
<ul class="degree-affiliates_logosList__x43ft">
    <li><img class="degree-affiliates_icon__1uKUx" alt="Google" src="//www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/3w3LJ7wg3CyGCsSEKS0mCk/f729d46c32a7b2ce367e744958e8eee2/logo-color-google.svg"></li>
    <li><img class="degree-affiliates_icon__1uKUx" alt="Facebook" src="//www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/4XJLueZsVp2gbx7jpizyp2/7590b82c43728053d62ba2c2411d6f07/Facebook-Partner-Logo.png"></li>
    <li><img class="degree-affiliates_icon__1uKUx" alt="AT&amp;T" src="//www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/z2D6oz3DoWoqQa68caSqu/d39d05b1c52f443309d66ef3a2f469ec/logo-color-att"></li>
    <li><img class="degree-affiliates_icon__1uKUx" alt="Nvidia" src="//www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/5WBwzhQcmsyGyeaGcymKCU/ce04d03db9bfeb6ac88ca17c9bd639ac/logo-color-nvidia"></li>
    <li><img class="degree-affiliates_icon__1uKUx" alt="U4E IBM Affiliate Logo" src="//www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/1sfJn8hys77YOabGJ0TFfi/37148deb8ad9e37b2d4d0397a021fe5a/IBM_Logo.png"></li>
    <li><img class="degree-affiliates_icon__1uKUx" alt="Starbucks" src="//www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/2zTX8zjCiBumrsTeKpZUcI/e36be63847ba0e221350264547c38e6a/logo-color-starbucks.svg"></li>
   <li>
       
        <img class="degree-affiliates_icon__1uKUx" alt="Microsoft" src="//www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/2PmqnzvcvsmRHkTHOGxjHv/8f5f972b9dd92dc5da10d8b0ee6036ed/Microsoft-Logo-PNG.png"></li>
    </ul></div>

    <br>
<br>
<div class="wrap">
     <div class="half">
        <img src="//www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/4gFqljM7jor1o44WWDZNOm/4ff01d3b63d64f957cad45088bc9db1d/U4E-Our-Approach-Side-Image-1.jpg" loading="lazy">
    </div>
     <div class="articlename"> 
        <p class="left" style="font-size: 40px;font-weight: lighter;color: rgb(87, 84, 84);">
            Pre-Assessments</p>
           
<br>
<br>
<p class="left" style="padding-left: 20px;">
    Our in-depth workforce assessments identify your team's current level of<br>
    
    knowledge in key areas. Results are used to generate custom learning paths<br>
    
    designed to equip your workforce with the most applicable skill sets.<br> 
    

        </p>
    </div> 
 </div>

 <br>
<div class="wrap2">
    <div class="articlename2">
        <h2
        class="right">
           <p class="right" style="font-size: 36px;font-weight: lighter;color: rgb(87, 84, 84);">
            Real World Hands-on Projects</p>
         <br>
         <br>
         <br>
       <p style="font-size: 15px;font-weight: lighter;"> Through our nanodegree programs, your employees learn and apply new<br>
        techniques, analyze results, and produce actionable insights. Project portfolios<br>techniques, analyze results, and produce actionable insights. Project portfolios <br>
        applicable skills.<br>
        
    </p>
<br>
<br>



           </h2>
    </div>
    <div class="img2">
        <img src="//www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/2IZmpogUXNxabCCtRV5hGy/246e8e2d9d75883bd73ef8a333e496ab/U4E-Our-Approach-Side-Image-2.jpg" loading="lazy">
    </div>
</div>
<br>
<br>
<br>
<br>
<div class="wrap">
     <div class="half">
        <img src="//www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/5UuFZt7a1JftrXJcPoqHKk/266682e8cabced13e5d6d0ca7c263b5d/U4E-Our-Approach-Side-Image-3.jpg" loading="lazy">
    </div>
     <div class="articlename"> 
        <p class="left" style="font-size: 40px;font-weight: lighter;color: rgb(87, 84, 84);">
            Industry Validation & Reviews<br>
        </p>
           
<br>
<br>
<p class="left" style="padding-left: 20px;">
    Your employees' progress and subject knowledge is tested through a series of <br>
    rigorous, real-world projects designed and validated by industry experts and <br>
    leaders from our advisory board. These in-depth reviews ensure your teams have<br> 
    
    leaders from our advisory board. These in-depth reviews ensure your teams have achieved competency.<br> 

        </p>
    </div> 
 </div>

 <br>
<div class="wrap2">
    <div class="articlename2">
        <h2
        class="right">
           <p class="right" style="font-size: 36px;font-weight: lighter;color: rgb(87, 84, 84);">
            Dashboard & Progress Reports</p>
         <br>
         <br>
         <br>
       <p style="font-size: 15px;font-weight: lighter;"> Our interactive dashboard (enterprise management console) allows <br>
        administrators to manage employee onboarding, track course progress, perform<br> 
        bulk enrollments and more. <br>
        
    </p>
<br>
<br>



           </h2>
    </div>
    <div class="img2">
        <img src="//www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/68qnU7KTahTraDHlOGQDwn/e445c0247ae28e49d87fa52b470403cc/Our-Approach-Side-Image-4.jpg" loading="lazy">
    </div>
</div>
<br>
<br>
<br>
<p class="section2Content3">
    On average in a recent survey of Nanodegree graduates in the Egyptian Program.
</p>

<br>
<br>
<div class="card2">
<mat-card class="example-card2">
<mat-card-header>
  <mat-card-title  class="mat-card-title2" style="color:#017a9b;font-weight:lighter;text-align: center;">Not sure where to begin?</mat-card-title>
  <mat-card-subtitle  class="mat-card-subtitle2"style="font-weight: lighter;">Sign up for a consultation</mat-card-subtitle>
</mat-card-header>
<mat-card-content>
  <div>
      <label>First Name*</label>
      <br>
      <input type="text">
  </div>
  <br>
  <div>
    <label>Last Name*</label>
    <br>
    <input type="text">
</div>
<br>
<div>
    <label>Work Email*</label>
    <br>
    <input type="text">
</div>
<br>
<div>
    <label>Phone Number*</label>
    <br>
    <input type="text">
</div>
<br>
<div>
    <label>Organization Name*</label>
    <br>
    <input type="text">
</div>
<br>
<div>
    <label>Organization Size*</label>
    <br>
    <select class="input" required name="Organization">
        <option>Select your organization size</option>
        <option>
            Less than 1,000 employees        
        </option>
        <option>
            1,000 - 5,000 employees     
        </option>
        <option>
            5,000+ employees       
        </option>
    </select>
</div>
<br>
<div>
    <p>I consent and agree to receive marketing communications from Udacity, which may include email messages, text messages, and phone calls from Udacity to the email and phone number listed above. Call and message rates may apply.</p>
</div>
<br>
<div>
    <p>I acknowledge that by clicking “Submit,” my data will be used in accordance with the Udacity Terms of Use and Privacy Policy, including relevant opt-out provisions therein.</p>
</div>
<br>

</mat-card-content>
<mat-card-actions>
    <button type="submit" mat-button disabled style="font-weight: bolder;font-size:30px;">Submit</button>
  </mat-card-actions>
  <br>
  
</mat-card>

</div>
<br>
<br>
