<div class="container-fluid">
    <div style="text-align: center;">
        <button class="btn btn-outline-dark" (click)="ShowAddQuestionGroup()" id="btnitem">Add Question Group
        </button>
        <button class="btn btn-outline-dark" (click)="ShowList()" id="btnitem">Show Categories </button>
    </div>
</div>


<div class="home">
    <h1 style="text-align: left;" class="titel">Question Group</h1>
    <div style="text-align: left;" *ngIf="isOpen">       
        <h4 class="description">{{AddOrUpdate}} Question Group</h4><br><br>
    </div>

    <div>
        <mat-label>Course:</mat-label><br>
        <select class="custom-select-sm BtnG" id="crsId" #crsId (change)="getAllLecturesByCrsID(QuestionGroup.courseId)"
            [(ngModel)]="QuestionGroup.courseId" [value]="QuestionGroup.courseId" name="crsId">
            <option value="-1" selected="selected">Choose Course</option>
            <option *ngFor="let Course of AllCourses" [value]="Course.id">{{Course.name}}</option>
        </select>
    </div>


    <div>
        <mat-label>Lecture:</mat-label><br>
        <select class="custom-select-sm BtnG" id="lectId" #lectId (change)="getAllLessonsByLectID(QuestionGroup.lectureId)"
            [(ngModel)]="QuestionGroup.lectureId" [value]="QuestionGroup.lectureId" name="lectId">
            <option value="0" selected="selected">Choose Lecture</option>
            <option *ngFor="let Lecture of AllLectures" [value]="Lecture.id">{{Lecture.tilte}}</option>
        </select>
    </div>

    <div>
        <mat-label>Lessons:</mat-label><br>
        <select class="custom-select-sm BtnG" id="lessonId" #lessonId (change)="getListOfQuestionGroupByCrsandLectandLessonIds()"
            [(ngModel)]="QuestionGroup.lessonId" [value]="QuestionGroup.lessonId" name="lessonId">
            <option value="0" selected="selected">Choose Lesson</option>
            <option *ngFor="let Lesson of AllLessons" [value]="Lesson.id">{{Lesson.title}}</option>
        </select>
    </div>

    <div *ngIf="isOpen then add else table"></div>

    <ng-template #add>
        <form style="margin-bottom: 10%;">

            <div>
                <mat-label>Question Group Name:</mat-label><br>
                <input type="text" id="txtQuestionGroupame" name="txtQuestionGroupame" #txtQuestionGroupame
                    [value]="QuestionGroup.title" [(ngModel)]="QuestionGroup.title">
            </div>      

            <div>
                <div *ngIf="QuestionGroup.id==check then addbtn else updatebtn"></div>
                <ng-template #addbtn>
                    <button mat-button type="submit" class="btnSubmit" (click)="AddQuestionGroup()" style="margin: 20px;padding: 10px;">ADD</button>
                </ng-template>
                <ng-template #updatebtn>
                    <button mat-button type="submit" class="btnSubmit" (click)="UpdateQuestionGroup(QuestionGroup,QuestionGroup.id)" style="margin: 20px;padding: 10px;">Update</button>
                </ng-template>
            </div>
        </form>

    </ng-template>
    <ng-template #table>
        <table class="table table-hover" class="home"  
        style="align-content: center;margin: 80px;  border-bottom: 2px solid #dee2e6;">
        <thead>
            <tr>
                <th scope="col" class="all">#</th>
                <th scope="col" style="font-size: 20px; font-weight: 400;padding: 10px;">Question Group Name</th>
                <th scope="col" style="font-size: 20px; font-weight: 400;padding: 10px;">Update</th>
                <th scope="col" style="font-size: 20px; font-weight: 400;padding: 10px;">Delete</th>

            </tr>
        </thead>
        <tbody  *ngFor="let QuestionGroupOObj of AllQuestionGroups , let i=index">
                <tr style="border-bottom: 2px solid #dee2e6;" >
                    <th scope="row">
                    <td>{{QuestionGroupOObj.title}}</td>  
                    <td><button class="btn btn-outline-primary" (click)="UpdateQuestionGroupForm(QuestionGroupOObj)">Update</button></td>                                                
                    <td><button class="btn btn-outline-danger" (click)="deleteQuestionGroup(QuestionGroupOObj.id)">Delete</button></td>                                                


            </tr>
        </tbody>
        </table>
    </ng-template>
</div>