<div class="img">
    <br>
    <br>
    <p>THE ENTERPRISE ADVANTAGE</p>
    <br><br>
    <mat-label class="txtimg"> Prepare Your Workforce for the Digital Future </mat-label>
    <br>
    
    
 <br>

 <mat-label class="txt">Our Enterprise solution delivers world-class, digitally-driven content and the one-to-one support you<br>
    need to upskill your workforce and position your organization to thrive in the era of digital disruption.</mat-label>
<br>
<br>

<br><br>
</div>
<br>
<br>
<p class="section2Content3">
    On average in a recent survey of Nanodegree graduates in the Egyptian Program.
</p>

<br>
<br>


<br>
<div class="wrap">
     <div class="half">
        <img src="//www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/5UuFZt7a1JftrXJcPoqHKk/266682e8cabced13e5d6d0ca7c263b5d/U4E-Our-Approach-Side-Image-3.jpg" loading="lazy">
    </div>
     <div class="articlename"> 
        <p class="left" style="font-size: 40px;font-weight: lighter;color: rgb(87, 84, 84);">
            Industry Validation & Reviews<br>
        </p>
           
<br>
<br>
<p class="left" style="padding-left: 20px;">
    Your employees' progress and subject knowledge is tested through a series of <br>
    rigorous, real-world projects designed and validated by industry experts and <br>
    leaders from our advisory board. These in-depth reviews ensure your teams have<br> 
    
    leaders from our advisory board. These in-depth reviews ensure your teams have achieved competency.<br> 

        </p>
    </div> 
 </div>

 <br>
<div class="wrap2">
    <div class="articlename2">
        <h2
        class="right">
           <p class="right" style="font-size: 36px;font-weight: lighter;color: rgb(87, 84, 84);">
            Dashboard & Progress Reports</p>
         <br>
         <br>
         <br>
       <p style="font-size: 15px;font-weight: lighter;"> Our interactive dashboard (enterprise management console) allows <br>
        administrators to manage employee onboarding, track course progress, perform<br> 
        bulk enrollments and more. <br>
        
    </p>
<br>
<br>



           </h2>
    </div>
    <div class="img2">
        <img src="//www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/68qnU7KTahTraDHlOGQDwn/e445c0247ae28e49d87fa52b470403cc/Our-Approach-Side-Image-4.jpg" loading="lazy">
    </div>
</div>
<br>
<br>
<br>
<p class="section2Content3">
    On average in a recent survey of Nanodegree graduates in the Egyptian Program.
</p>

<br>
<br>



<div class="card2">
<mat-card class="example-card2">
<mat-card-header>
  <mat-card-title  class="mat-card-title2" style="color:#017a9b;font-weight:lighter;text-align: center;">Not sure where to begin?</mat-card-title>
  <mat-card-subtitle  class="mat-card-subtitle2"style="font-weight: lighter;">Sign up for a consultation</mat-card-subtitle>
</mat-card-header>
<mat-card-content>
  <div>
      <label>First Name*</label>
      <br>
      <input type="text">
  </div>
  <br>
  <div>
    <label>Last Name*</label>
    <br>
    <input type="text">
</div>
<br>
<div>
    <label>Work Email*</label>
    <br>
    <input type="text">
</div>
<br>
<div>
    <label>Phone Number*</label>
    <br>
    <input type="text">
</div>
<br>
<div>
    <label>Organization Name*</label>
    <br>
    <input type="text">
</div>
<br>
<div>
    <label>Organization Size*</label>
    <br>
    <select class="input" required name="Organization">
        <option>Select your organization size</option>
        <option>
            Less than 1,000 employees        
        </option>
        <option>
            1,000 - 5,000 employees     
        </option>
        <option>
            5,000+ employees       
        </option>
    </select>
</div>
<br>
<div>
    <p>I consent and agree to receive marketing communications from Udacity, which may include email messages, text messages, and phone calls from Udacity to the email and phone number listed above. Call and message rates may apply.</p>
</div>
<br>
<div>
    <p>I acknowledge that by clicking “Submit,” my data will be used in accordance with the Udacity Terms of Use and Privacy Policy, including relevant opt-out provisions therein.</p>
</div>
<br>

</mat-card-content>
<mat-card-actions>
    <button type="submit" mat-button disabled style="font-weight: bolder;font-size:30px;">Submit</button>
  </mat-card-actions>
  <br>
  
</mat-card>

</div>
<br>
<br>

