<mat-sidenav-container>
    <mat-sidenav mode="side" opened class="sideNav">
        <img mat-card-md-image routerLink="/Home" class="udacity imgUdacity" src="assets/udacity.svg"
            style="width: 30px;height: 50px;cursor: pointer;">
      
         <div routerLink="/Home">
           
           <h1 id="one">
            <mat-icon>home</mat-icon >
            Home
           </h1>
        </div>

        <div routerLink="/Home">
        <h1 routerLink="/Home" id="two">
            <mat-icon>support</mat-icon>Help
        </h1>
        </div>
        <div routerLink="/Courses">
        <h1 routerLink="/Courses" id="three">
            <mat-icon routerLink="/Courses" (click)="category()">explore</mat-icon>Catalog
        </h1>
        </div>
        <div class="iconBtn" >
        <div routerLink="/Setting"   >
        <h1 routerLink="/Setting" id="four">
            <mat-icon>settings</mat-icon>Setting
        </h1>
        </div>
        <div routerLink="/Home"   >
        <h1 routerLink="/Home" id="five">
            <mat-icon>logout</mat-icon>Logout
        </h1>
        </div>
    </div>
    </mat-sidenav>


    <mat-sidenav-container>
        <mat-sidenav mode="side" opened  class="lectNav">
            <!-- <h1>{{}}</h1> -->
            <div *ngFor="let i of lectureAllList ;let e=index ">
                <hr>
                <div class="all" >
                    <h1 class="second">{{e+1}}.</h1>
                    <button mat-stroked-button class="first" (click)="done(i.id)">{{i.tilte}}</button>
                    <button mat-icon-button class="first">
                        <mat-icon id="one" [style.color]='color'>task_alt</mat-icon>
                    </button>
                </div>
            </div>
            <hr>
        </mat-sidenav>     
    </mat-sidenav-container>
</mat-sidenav-container>
