<mat-sidenav-container>
    <mat-sidenav mode="side" opened class="sideNav">
        <img mat-card-md-image routerLink="/Home" class="udacity imgUdacity" src="assets/udacity.svg"
            style="width: 30px;height: 50px;cursor: pointer;">
      
         <div routerLink="/Home">
           
           <h1 id="one">
            <mat-icon>home</mat-icon >
            Home
           </h1>
        </div>

        <div routerLink="/Home">
        <h1 routerLink="/Home" id="two">
            <mat-icon>support</mat-icon>Help
        </h1>
        </div>
        <div routerLink="/Courses">
        <h1 routerLink="/Courses" id="three">
            <mat-icon routerLink="/Courses" (click)="category()">explore</mat-icon>Catalog
        </h1>
        </div>
        <div class="iconBtn" >
        <div routerLink="/Setting"   >
        <h1 routerLink="/Setting" id="four">
            <mat-icon>settings</mat-icon>Setting
        </h1>
        </div>
        <div routerLink="/Home"   >
        <h1 routerLink="/Home" id="five">
            <mat-icon>logout</mat-icon>Logout
        </h1>
        </div>
    </div>
    </mat-sidenav>


    <mat-sidenav-container>
        <mat-sidenav mode="side" opened  class="lectNav">
            <h1 class="title">{{courseList.name}}</h1>
            <h1 style="font-size: 15px;margin-top: 150px;">Search<mat-icon style="margin-left: 120px;">search</mat-icon></h1>
            <hr>
            <h1 style="font-size: 15px;margin-top: 20px;text-transform: uppercase;">Program Home</h1>
            <hr>
            <h1 style="font-size: 15px;margin-top: 20px;text-transform: uppercase;">Syllabus</h1>
            <h1 style="font-size: 15px;margin-top: 30px;cursor: pointer;" (click)="hideList()">Core Curriculum<mat-icon style="margin-left: 90px;margin-top: -30px;">{{text}}</mat-icon></h1>
          <ng-template #list>
            <div *ngFor="let i of lectureList ;let e=index ">
                <hr>
                <div class="all" >
                    <h1 class="second">{{e+1}}.</h1>
                    <h1 mat-stroked-button class="first" routerLink="Lesson" (click)="done(i.id)">{{i.tilte}}</h1>
                    <button mat-icon-button class="first">
                        <mat-icon id="one" [style.color]='color'>task_alt</mat-icon>
                    </button>
                </div>
            </div>
            <hr>
        </ng-template>
        <div *ngIf="Isdetails then list"></div>
        </mat-sidenav>     
    </mat-sidenav-container>
</mat-sidenav-container>
