<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


  
<div class="container-fluid">
    <section #sectionOne>
        
        <div class="contentImg " style="background-image:url(/assets/background-4.jpg)">
            <div class="center">
                <div style="text-align: center;">
                    <h6 style="font-size: .8125rem;">WORK ON YOUR SCHEDULE
                        
                        </h6>
                    <h1 style="font-size: 2.5rem">Become a Udacity mentor</h1>
                    <div style="font-size: 16px;">
                        Use your passion for tech to mentor motivated learners and expand your professional network
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">&nbsp;</div>
                </div>
                <div><button class="btn button--white">APPLY NOW</button>
                </div>
            </div>
        </div>
    </section>
    <section #blank style="line-height: 100px;">&nbsp;</section>

    <section #ThePerks>
        <div  class="row">
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-3">
                <img src="assets/Learn.webp">
            </div>
            <div class="col-md-2">
                <h3 style="font-weight: bolder;">Learn</h3>

                Get free access to the Nanodegree program in which you applied and keep up with the latest cutting-edge technologies.
            </div>
            <div class="col-md-3">
                <img src="assets/Connect.webp">
            </div>
            <div class="col-md-2">
                <h3 style="font-weight: bolder;">Connect</h3>
                Contribute to a vast network of top-notch technical masters and a vibrant, global community of thinkers.
            </div>
            <div class="col-md-1">&nbsp;</div>

        </div>
        <div style="line-height: 20px;">&nbsp;</div>
        <div  class="row">
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-3">
                <img src="assets/Grow.webp">
            </div>
            <div class="col-md-2">
                <h3 style="font-weight: bolder;">Grow</h3>
                Get recognition for your breadth of technical knowledge and build relationships with other mentors while helping each other grow.
            </div>
            <div class="col-md-3">
                <img src="assets/Earn.webp">
            </div>
            <div class="col-md-2">
                <h3 style="font-weight: bolder;">Earn</h3>
                Earn money for gratifying work supporting our students while choosing the hours that work for you.
            </div>
            <div class="col-md-1">&nbsp;</div>

        </div>
    </section>

    <section #blank style="line-height: 100px;">&nbsp;</section>

    <section #Joinourgrowingmentorcommunity>
        <div class="row" >
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-5"  >
                <h1 style="font-size: xx-large;">Join our growing mentor community. </h1>
                <p style="font-size: 20px;color:gray">We’re looking for tech enthusiasts that are passionate about new, challenging, cutting-edge technologies. If that sounds like you, this could be a good fit.</p>
                <ul style="font-size: 20px;color:gray">
                    <li style="margin: 20px;">
                        Udacity mentors support students by providing <span style="font-weight: bolder;">thorough</span>, <span style="font-weight: bolder;">personal</span> and <span style="font-weight: bolder;">timely</span> technical support and feedback.
                    </li>
                    <li style="margin: 20px;">
                        Our vast mentor network includes engineers, researchers, writers, marketers, bloggers, freelancers, and consultants from leading companies like<span style="font-weight: bolder;">Google</span> , <span style="font-weight: bolder;">Facebook</span>, <span style="font-weight: bolder;">Microsoft</span>, <span style="font-weight: bolder;">Amazon</span>, <span style="font-weight: bolder;">Adobe</span>, and <span style="font-weight: bolder;">Qualcomm</span>, along with startups and mid-sized enterprises too.
                    </li>

                    <li style="margin: 20px;">
                        Our mentors come from <span style="font-weight: bolder;">30 different industries</span> and live across<span style="font-weight: bolder;">86 countries</span> , encompassing diverse knowledge and perspectives.
                    </li>
                    <li style="margin: 20px;">
                        Only <span style="font-weight: bolder;">1 in 22</span> candidates become a Udacity mentor—we execute a diligent vetting process because we want the best for our learners.
                    </li>

                    


                </ul>
            </div>
            <div class="col-md-1">&nbsp;</div>

            <div class="col-md-3">
                <img src="assets/JoinMentorCommunity.jpg" style="width: 100%;height: 100%;">
            </div>

            <div class="col-md-1">&nbsp;</div>

        </div>

    </section>
    <section #blank style="line-height: 100px;">&nbsp;</section>

    <section #Mentor>
        <h1 style="text-align: center;font-size: xx-large;">Meet some of our top mentors </h1>
        <!-- <div *ngFor="let Mentor of mentorList">            
                <div class="row">
                    <div class="col-md-1">&nbsp;</div>
              
                    <div class="col-md-5">
                      <div class="card first" style="box-shadow: 5px 10px  lightslategrey;">
                        <div class="imgs">
                          <img src="assets/Jesse.webp" style="width: 70px" />
                        </div>
                        <div id="remain">
                          <h1 style="
                        text-align: center;
                        font-size: 30px;
                        font-weight: 100;
                        color: black;
                      ">
                            {{Mentor.FullName}}
                          </h1>                      
                          <p style="color: rgb(128, 128, 128);">{{Mentor.Specialzation}}</p>
                          <h6 style="font-weight: 400; font-size: 15px">
                            {{Mentor.story}}
              
                          </h6>
                        </div>
              
                      </div>
                    </div>
                    <div class="col-md-1">&nbsp;</div>
                  </div>
            </div> -->
    
        <div class="row">
            <div class="col-md-1">&nbsp;</div>
            <div *ngFor="let Mentor of mentorList;index as i">              
                
                <div class="col-md-5">
                  <div class="card first" style="box-shadow: 5px 10px  lightslategrey;">
                    <div class="imgs">
                      <img src="assets/Jesse.webp" style="width: 70px" />
                    </div>
                    <div id="remain">
                      <h1 style="
                    text-align: center;
                    font-size: 30px;
                    font-weight: 100;
                    color: black;
                  ">
                        {{Mentor.fullName}}
                      </h1>
                      <p style="color: rgb(128, 128, 128);">{{Mentor.specialzation}}</p>
                      <h6 style="font-weight: 400; font-size: 15px">
                        {{Mentor.story}}
          
                      </h6>
                    </div>
          
                  </div>
                
              </div>
              
          </div>
            <div class="col-md-1">&nbsp;</div>
        </div>
    </section>
    <section #blank style="line-height: 100px;">&nbsp;</section>
    <section #ApplicationProcess>
        <div class="row" >
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-5"  >
                <h1 style="font-size: xx-large;">Application Process </h1>
                <ul style="font-size: 20px;color:gray">
                    <li style="margin: 20px;">
                        <span style="font-weight: bolder;">Fill Out Application: </span>Start by filling out the application form and selecting an open position under the “Mentors” tab on the Udacity job portal. You’ll be contacted directly if your application fits the criteria.
                    </li>
                    <li style="margin: 20px;">
                        <span style="font-weight: bolder;"> Take Assessments:</span> Next, take a short technical assessment followed by a situational test to verify that your skills meet the needs of Udacity students.
                    </li>

                    <li style="margin: 20px;">
                        <span style="font-weight: bolder;"> Review Course Content:</span> Review the content of the Nanodegree program in which you have applied and pass corresponding projects, along with the Mentorship Nanodegree program that teaches you how to be an effective mentor.
                    </li>
                    <li style="margin: 20px;">
                        <span style="font-weight: bolder;"> Start Mentoring: </span>After basic onboarding, begin helping students with their coursework through our custom-built dashboard. That’s it!
                    </li>

                    


                </ul>
            </div>
            <div class="col-md-1">&nbsp;</div>

            <div class="col-md-3">
                <img src="assets/ApplicationProcess.jpg" style="width: 100%;height: 100%;">
            </div>

            <div class="col-md-1">&nbsp;</div>

        </div>

    </section>
    <section #blank style="line-height: 100px;">&nbsp;</section>
<section #HaveAQuestion style="text-align: center;">
    <h1 style="font-size: xx-large;">Have Questions?
      </h1>
      <p style="font-size: x-large;">  Visit our Mentor Community Help Center page for more information.</p>

</section>
<section #blank style="line-height: 100px;">&nbsp;</section>
<section #sectionOne>
        
    <div class="contentImg " style="background-image:url(/assets/ComeJoinUs.webp);height: 60% !important;">
        <div class="center">
            <div style="text-align: center;">           
                <h1 style="font-size: 2.5rem">Come join us!
                </h1>
                <div style="font-size: 16px;">
                    Our community of mentors is changing lives. Let’s change more together.

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">&nbsp;</div>
            </div>
            <div><button class="btn button--white">APPLY NOW</button>
            </div>
        </div>
    </div>
</section>
    </div>