
<div *ngIf="flag then header">
</div>
<ng-template #header> 
    <app-header></app-header>
</ng-template> 

<router-outlet></router-outlet>

<div *ngIf="flag then footer">
</div>
<ng-template #footer> 
    <app-footer></app-footer>
</ng-template>  

<!-- <app-header></app-header> -->
<!-- <app-test-category></app-test-category> -->
<!-- <router-outlet></router-outlet> -->

<!-- <router-outlet></router-outlet> -->
<!-- <app-order-details></app-order-details> -->
<!-- <app-payment></app-payment> -->
