<!-- {{indexLecture}} . -->
<h1 id="nav">  {{clickedLecture.tilte}}</h1>
<div *ngFor="let lesson of LessonByLectureID; let i=index">
    <mat-card class="Lessons" (click)="goToLessonContent(lesson.id)" >
        <!-- <mat-card class="Lessons" routerLink="{{'/lessonContent/' + lesson.id}}" > -->
    <div style="display: flex;">
        <div class="contentLesson">
            <mat-label>LESSON {{i+1}}</mat-label><br><br>
            <mat-label style="font-size: x-large;">{{lesson.title}}</mat-label><br><br>
            <mat-label >{{lesson.details}}</mat-label><br><br>
            <button mat-raised-button class="btnLesson" >CONTINUE<mat-icon style="margin-top: -1%;" >arrow_forward</mat-icon></button>
            <br><br> <hr class="hrLesson"> <br>
            <mat-label class="durationLesson">{{lesson.duration}} hour</mat-label>
        </div>
        <div class="imgLesson">
            <img src="../../../../assets/lesson.jpg" class="img"  alt="error">
        </div>
    </div>
</mat-card><br><br>
</div>
<hr class="hrLesson">
<mat-card class="nextLecture" >
    <!-- <mat-card-subtitle style="font-size: 15;color: rgb(98, 98, 98);" >UP NEXT</mat-card-subtitle> -->
    <!-- <mat-card-subtitle style="font-size: large; color: rgb(98, 98, 98);" > WELCOME TO {{ this.data.NextLecture.tilte}}</mat-card-subtitle>  -->
    <!-- <svg viewBox=" 0 0 32 32" stroke = "currentColor" fill ="currentColor" class="goNext">
        <path d="M12 11.902v8.196a.5.5 0 00.765.424l6.557-4.098a.5.5 0 000-.848l-6.557-4.098a.5.5 0 00-.765.424z"></path>
    </svg> -->
    <!-- {{nextid.tilte}} -->

</mat-card>
