
 <!-- <section class="reviews">
    <mat-label class="reviewsTitel">Top Student Reviews</mat-label><br>
    <div class="reviewsPart">
        <div *ngFor="let review of Reviews"> 
            <mat-card class="eachReview">
                <mat-label class="reviewName">{{review.fullName}}</mat-label><br><br>
                <mat-label>{{review.stdReviews}}</mat-label>
            </mat-card>
        </div>
    </div>
</section> -->


<!-- //////////////////////////////////////////////////////////////////// -->

 <!-- <section style="text-align: center; padding: 45px;">
    <mat-label class="suggestCoursesTitel">Related Nanodegree Programs</mat-label>
    <div class="suggestCoursesPart">
        <div *ngFor="let course of twoCoursesSuggest">
            <mat-card class="suggestCourse">
                <mat-label style="font-weight: 100; font-size: xx-large;">{{course.name}}</mat-label><br><br>
                <mat-label style="line-height: 22px; ">{{course.description}}</mat-label>
            </mat-card>
        </div>
    </div>
</section> -->

<!-- /////////////////////////////////////////////////////////////////////////// -->

<!-- <mat-card class="boxCouse1">
    <svg width="50" height="36" viewBox="0 0 50 36">
        <g fill="none" fill-rule="evenodd" stroke="#7D97AD" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M42 5h2.99063C45.54809 5 46 5.438615 46 5.998746v19.002508C46 25.552846 45.556738 26 45.003217 26H4.996782C4.446275 26 4 25.561385 4 25.001254V5.998746C4 5.447154 4.443353 5 5.00937 5H8">
            </path>
            <path d="M21 22H8V2h9.009246C21.42242 2 25 5.580076 25 9.991652V26m0 0c0-2.20914-1.79086-4-4-4m8 0h13V2h-9.009247C28.577583 2 25 5.580076 25 9.991652V26m0 0c0-2.20914 1.79086-4 4-4"></path>
            <path d="M46 8h2.001043C48.552753 8 49 8.439458 49 9.002462v19.995076C49 29.551183 48.55547 30 47.997452 30H2.002548C1.448856 30 1 29.560542 1 28.997538V9.002462C1 8.448817 1.44266 8 1.998957 8H4m21 22v-4"></path>
        </g>
    </svg>
    <div style="opacity: .8;">
        <mat-label>NEED TO PREPARE?</mat-label><br>
        <mat-label>c{{coursesBySubCategory}}</mat-label>
    </div>
</mat-card> -->

<!-- ////////////////////////////////////////////////////////////////////// -->

<!-- 
 <section style="text-align: center; padding: 40px 40px 40px 0px">
    <mat-label style="font-size: xx-large; opacity: .7;">Learn with the best</mat-label><br><br>
    <div class="stories">
        <div *ngFor = "let instractor of InstractorAndMentor">
            <span *ngIf="instractor.showOrNot == 1">
                <mat-card class="boxStory" > 
                    <img src="assets/Sundar.webp" alt="error" style="margin: -50px 0px 20px 0px;" height="90px" width="90px"><br>
                    <mat-label style="font-weight: bold;" >{{instractor.fullName}}</mat-label><br>
                    <mat-label style="color: grey;" class="titleData">{{instractor.memberType}}</mat-label> <br>
                    <mat-label >{{instractor.specialzation}}</mat-label><br><br>
                    <mat-label>{{instractor.story}}</mat-label>
                </mat-card>
            </span>
        </div>
    </div>
</section>  -->