<div class="wrap2">
    <div class="articlename2">
        <p class="rigth">
            <mat-label style="color:#017a9b;font-size: 15px;"> 
                UDACITY FOR ENTERPRISE</mat-label>
<br>
<br>
<p  style="font-size: 40px;font-weight: lighter;color: rgb(87, 84, 84);">Transform the workforce<br><br>
     you have into the workforce 
    <br> <br>you need.</p>

<br>
<br>
<p>
Technology is disrupting enterprises across every industry.<br>
 Ensuring you have the right people to rise to the challenge can<br>
  seem like a massive undertaking. But it doesn't have to be. Find <br>
  out how Udacity can help you upskill your workforce for what's<br>
   ahead.
<br>
<br>
<button type="submit" class="btnSignIn" mat-raised-button color="primary" class="btn" >
   REQUEST A CONSULT
</button>
        </p>
    </div>
    <div class="img2">
        <img src="//www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/2tE0Okdfym4hGwnqwMbESs/cae63018fba5c92aa44911ad95db90e4/two-women-tablet.png?fm=png" loading="lazy">   
    </div>
</div>
<br>
<br>
<br>

<div class="skill_skillsStats__3WeyI skill_left__SlLBi container_contain__2hCQ1" 
>
    <h2 class="font" >
        Your future depends on a workforce with the right tech skills.</h2>
        <div class="seconddiv"style="display: inline-block; "
        ><div class="skill_skillStat__27qxn" style="display: inline-block;">
            <img class="skill_skillStatImg__1rAJR" alt="" src="//www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/2ioy88XpocV7dRkebsWt2M/60f652e6c140ead37f0e454c8d6fece2/icon-key-skills.svg">
            <div class="skill_skillStatContent__bh96x"style="display: inline-block;"><h3 class="skill_skillValue__21j3x">79%</h3>
                <p class="skill_skillDescription__xmD6o">of CEOs say lack of key skills is threatening<br> future growth of their organizations.
                    <cite class="skill_cite__RGg1b"><a href="#cite-1">1</a></cite></p></div></div>

                    <div class="skill_skillStat__27qxn"  style="display: inline-block;">
                        <img class="skill_skillStatImg__1rAJR" alt="" src="//www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/7r1hjpdOZzoTJByrqqLNoR/a398a2d81fe722029376fda09285862c/icon-search-talent.svg">
                        <div class="skill_skillStatContent__bh96x"><h3 class="skill_skillValue__21j3x">76%</h3>
                            <p class="skill_skillDescription__xmD6o">of business leaders do not believe they can quickly<br> hire the talent they need.<cite class="skill_cite__RGg1b">
                                <a href="#cite-2">2</a></cite></p></div></div>
                                
                                <div class="skill_skillStat__27qxn" style="display: inline-block;">
                                    <img class="skill_skillStatImg__1rAJR"  alt="" src="//www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/45Dfk83ExrjIoYhjtqmmid/e2e63c7cce6af8c11c2ce0d6f9295393/icon-skills.svg">
                                    <div class="skill_skillStatContent__bh96x">
                                        <h3 class="skill_skillValue__21j3x">61%</h3>
                                        <p class="skill_skillDescription__xmD6o">of high growth organizations believe their <br>workforce can be trained to have the skills they require.
                                            <cite class="skill_cite__RGg1b"><a href="#cite-3">3</a></cite>
</p></div></div></div></div>

<br>
<br>
<br>
<div class="wrap">
     <div class="half">
        <img src="//www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/5uzX6TpWu1kI4NGicWoP8b/94d65cbd89135fb3b0b78c3e8b3bed23/computer-guy-crop.jpg?fm=jpg" loading="lazy">
    </div>
     <div class="articlename"> 
        <p class="left" style="font-size: 40px;font-weight: lighter;color: rgb(87, 84, 84);">
            Udacity offers a learning platform <br><br>for the tech-forward enterprise.</p>
           
<br>
<br>
<p class="left" style="padding-left: 20px;">
    Our programs address the skills gaps that enterprises are facing in core <br>
     emerging technologies,
     like Data Science, AI/ML, Cloud, Cybersecurity, and <br>
     more.
      Learners experience a combination of lessons and hands-on projects<br> designed by technology
       experts,
     and are able to immediately apply their<br> newfound skills in a professional setting.

        </p>
    </div> 
 </div>

 <hr>
  <br>
 
  <div class="List">
    <mat-label class="mat2">
        TRUSTED BY THE WORLD’S LEADING COMPANIES</mat-label>
    <br>
    <br>
    <br>
    <div >
        <ul>
            <li><img src="//www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/2wzTCcundeWBfK2nXei3WA/b007f8cb478635bc3d49bf84eae66f47/logo-ibm.svg" alt="IBM"></li>
            <li><img src="//www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/6pYrcLSoeHNCIGilHA8pJR/f1fedcd8c95aae5cbca4749f031a9783/logo-dubai.svg" alt="Dubai"></li>
            <li><img src="//www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/33kmF14jq5bCCzLljXKbhw/aecf0fe8f2786b1d86050f07810dee6c/logo-yum.svg" alt="Yum! Brands"></li>
            <li><img src="//www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/33kmF14jq5bCCzLljXKbhw/aecf0fe8f2786b1d86050f07810dee6c/logo-yum.svg" alt="Yum! Brands"></li>
            <li><img src="//www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/1BkuNF2VNbBHoKJ83Lbdum/3b33adfa5aec12d03b3555262dc5042a/logo-accenture.svg" alt="Accenture"></li>
            <li><img src="//www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/1BkuNF2VNbBHoKJ83Lbdum/3b33adfa5aec12d03b3555262dc5042a/logo-accenture.svg" alt="Accenture"></li>
            <br>
            <li><img src="//www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/Ms9CK5aaAwSM1nSAFfEZG/167d7438d5b0984525125342ea3dd06e/logo-leidos.svg" alt="Leidos"></li>
            <li><img src="//www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/7MpMgU7BmXN67XmusY0eYz/85662801dfc326edf657d50fff1c8b2d/logo-bayer.svg" alt="Bayer"></li>
            <li><img src="//www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/2hlA7Sx4MZQAmqvmDXVtAz/acb0a7be479f45f05803cd568135dbeb/logo-bnp-paribas.svg" alt="BNP Paribas"></li>
            <li><img src="//www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/2hlA7Sx4MZQAmqvmDXVtAz/acb0a7be479f45f05803cd568135dbeb/logo-bnp-paribas.svg" alt="BNP Paribas"></li>
            <li><img src="//www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/5pNk4ZM8DblkAEKyjgEih3/ae59ec5ccf080ccceaf766f1ef29bf8b/logo-shell-white.svg" alt="Shell"></li>
            <li><img src="//www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/41qtCldeY86gunrtDRafSL/213882fb03bbb0db474dc34f9126f5a7/logo-att.svg" alt="AT&amp;T"></li>
        </ul>
    </div>
</div>
<hr>
<br>
<br>
<br>

<section class="parent">
    <mat-card class="forWhom" style="border-top-color: #6236ff">
<div id="rest">
<div id="second">
    <div class="imgs">
        <img style="width: 70px" src="//www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/6OUSKimCo1f97C7TvtQ3FY/b2689677092806efc0395d389d1d35cd/quote-headshot-paul-daugherty_2x.png" alt="">
  
    </div>
    <div id="remain">

<h6 style="font-weight: 400; font-size: 15px">
    “The buy, not build talent strategy is getting more difficult — and expensive — to pull off. <br />
<br />
Executives have this idea that: as my people become obsolete”<br />
<br />
, I’ll just hire new people. Well, they won’t be there.<br />
<br />

<br /><br /><br /><br />
</h6>
</div>


</div>
</div>
</mat-card>
</section>

  <br>
  <br>   
 
  <section class="cta-banner_white__3_5lm">
      <div class="container_contain__2hCQ1">
          <h2 class="cta-banner_title__2i-sC">Meet your digital transformation goals today.</h2>
          <div class="cta-banner_actions__8Oe-z"><div>
              <button class="button btn button--blue hide-on-mobile">Request a Consult</button>
</div></div></div></section>
<br>
<br>
<br>
<div class="wrap">
    <div class="half">
        <img src="//www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/3uAVCX5Tm21ZRGdtPXieop/f3a7fa9b6ddf73a3ece0f70cfb0bd486/EmployeesStayUnstuck.jpg?fm=jpg" alt="EmployeesStayUnstuck" loading="lazy">
    </div>
    <div class="articlename">
       
        
            <h2
         class="left">
            <p class="left" style="font-size: 36px;font-weight: lighter;color: rgb(87, 84, 84);">
                Employees stay unstuck with help  <br><br>people who have real-world expertise.</p>
          <br>
          <br>
          <br>
        <p style="font-size: 15px;font-weight: lighter;">  We believe support from mentors and instructors is as critical to success as <br>
          the curriculum itself. That's why we make sure your teams have easy <br>
          access to subject matter professionals who can unblock them along the way.</p>
<br>
<br>

Dedicated mentors provide support in one hour or less

<br>
<br>
Personalized project feedback given within three hours

            </h2>
    </div>
</div>
<br>
<br>
<div class="wrap2">
    <div class="articlename2">
        <h2
        class="right">
           <p class="right" style="font-size: 36px;font-weight: lighter;color: rgb(87, 84, 84);">
            Digital skills that translate to the workplace..</p>
         <br>
         <br>
         <br>
       <p style="font-size: 15px;font-weight: lighter;"> Students gain expertise from content co-created with industry <br>leaders like Accenture, Amazon, BMW, GitHub, IBM, Microsoft,<br> Nvidia, and Uber ATG. <br>
        
    </p>
<br>
<br>

Dedicated mentors provide support in one hour or less

<br>
<br>
Personalized project feedback given within three hours

           </h2>
    </div>
    <div class="img2">
        <img src="//www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/5ap8FfOkNTPGW81BurxAJL/d18c2f5c58cae0ddbd0ea5f9e3be3689/DigitalSkills.jpg?fm=jpg" loading="lazy">
    </div>
</div>
<br>
<br>
<br>
<section style="outline:none" tabindex="-1" id="id-1S8lXys7Or2URifh8xxXGa">
    <section class="cta-banner_blue-green-pattern-tall__3HCoz">
        <div class="container_contain__2hCQ1">
            <h2 class="cta-banner_title__2i-sC">
                Find out how Udacity can help you tackle digital&nbsp;transformation today.</h2>
                <div class="cta-banner_actions__8Oe-z"><div>
                    <button class="button btn button--white hide-on-mobile" style="background-color:white; color: dodgerblue;">Request a Consult</button>
</div></div></div></section></section>