<header class="about-us_header__16oKF">
    <h1 class="title">About Us</h1>
    <p class="TitleContent">Udacity is where lifelong learners come to learn the skills they need,
         to land the jobs they want, to build<br> the lives they deserve.</p>
</header>

<div class="Section">
<section class="about-us_missionSection__gM-FW">
    <aside class="about-us_missionImages__2HhnU">
        <div class="about-us_missionImageCol__2tfKE">
            <img  src="https://d125fmws0bore1.cloudfront.net/webpack/production/app/components/AboutUs/assets/mission/thumb-01.jpg" alt="">
            <img  src="https://d125fmws0bore1.cloudfront.net/webpack/production/app/components/AboutUs/assets/mission/thumb-02.jpg" alt="">
        </div>
        <div class="about-us_missionImageCol__2tfKE">
            <img src="https://d125fmws0bore1.cloudfront.net/webpack/production/app/components/AboutUs/assets/mission/thumb-03.jpg" alt="">
            <img src="https://d125fmws0bore1.cloudfront.net/webpack/production/app/components/AboutUs/assets/mission/thumb-04.jpg" alt="">
        </div>
    </aside>

    <mat-card class="example-card">
        <mat-card-content>
            <div class="about-us_missionColors__3f4JI">
                <h3 class="about-us_sectionTitle__3gjzU">Our Mission</h3>
                <p>Our mission is to train the world’s workforce in the careers of the future. We partner with leading technology companies to learn how technology is transforming industries, and teach the critical tech skills that companies are looking for in their workforce. With our powerful and flexible digital education platform, even the busiest learners can prepare themselves to take on the most in-demand tech roles.</p>
            </div>
        </mat-card-content>
      </mat-card>
</section>

</div>

<div class="SectionTwo">
        <div class="SectionTwoLeft">
    <h1>Our Students</h1>
    <p>Udacity students are a community of global learners united in a shared goal of uplift and transformation. Our unique learning model enables an unprecedented degree of engagement with our students, and we are with them through every step of their learning journey—from the first moment a marketing team member might answer a question on Facebook, to the penultimate moment when a career team member receives word that a graduate has gotten a new job. Our mantra is Students First, and this is the light that guides us as we continue our mission to bring the highest quality learning possible, to as many students as we can possibly reach.</p>
    <a class="headerC" href="/success" >
    <h6 style="font-size:15px;">Read more success stories</h6>
    </a>
    </div>
    <div class="SectionTwoRigth">
        <div id="second">
            <div class="imgs">
              <img src="https://s3-us-west-1.amazonaws.com/udacity-content/success/jose.jpg" style="width: 70px;border-radius: 50%;" />
            </div>
            <div id="remain">
              <h1
                style="
                  text-align: center;
                  font-size: 30px;
                  font-weight: 100;
                  color: black;
                "
              >
              José
              </h1>
              <h6 style="font-weight:500;font-size:20px;color: #1d5174;margin-top:40px;">
                Android Developer Graduate
             </h6>
             <div class="student_nowAt__2maZA">
                 ________  Now at  ________
               </div>
               <h6 class="student_jobCompany__GIsLe">IDScan Biometrics Ltd.</h6>
               <p class="student_jobTitle__1gysB">Android Developer</p>
            </div>
          </div>
      
          <div id="first">
            <div class="imgs">
              <img src="https://s3-us-west-1.amazonaws.com/udacity-content/success/daria.jpg" style="width: 70px;border-radius:50%;" />
            </div>
            <div id="remain">
              <h1 style="
                  text-align: center;
                  font-size: 30px;
                  font-weight: 100;
                  color: black;">
                Daria</h1>
              <h6 style="font-weight:500;font-size:20px;color: #1d5174;margin-top:40px;">
                 Data Analyst Graduate
              </h6>
              <div class="student_nowAt__2maZA">
                  ________  Now at  ________
                </div>
                <h6 class="student_jobCompany__GIsLe">GreenTomatoCars</h6>
                <p class="student_jobTitle__1gysB">Data Scientist</p>
            </div>
     
          </div>
</div>
</div>

<section class="about-us_textContentSection__3fI8i">
    <h3 class="about-us_sectionTitle__3gjzU" style="color:#5a5d5f;font-weight:200;">Our Story</h3>
    <p>Udacity began as an experiment in online learning, when Stanford instructors Sebastian Thrun and Peter Norvig elected to offer their "Introduction to Artificial Intelligence" course online to anyone, for free. Over 160,000 students in more than 190 countries enrolled. The potential to educate at a global scale was awe-inspiring, and Udacity was founded to pursue a mission to democratize education. It would take several years of intensive iteration and experimentation to clarify our focus on career advancement through mastery of in-demand skills, but today, Udacity proudly offers aspiring learners across the globe the opportunity to participate in—and contribute to—some of the most exciting and innovative fields in the world.

    </p>
</section>

<div class="SectionThree">
    <div class="SectionThree">
        <div id="SectionThreeSecond">
            <div class="imgs">
              <img src="//www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/5IY3uPnUrYkvb5otdtJwm4/6c45629c9c8fabfee1fb914bebe057e4/DanaBennett-1.2.jpg" style="width: 70px;border-radius: 50%;" />
            </div>
            <div id="remain">
              <h1
                style="
                  text-align: center;
                  font-size: 30px;
                  font-weight: 100;
                  color: black;
                "
              >
              Dana Bennett
              </h1>
              <h6 style="font-weight:100;font-size:20px;color: #1d5174;margin-top:40px;">
                Chief People Officer
             </h6>
            </div>
          </div>
          <br>
          <br>
          <div id="SectionThreeSecond">
            <div class="imgs">
              <img src="//www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/6qDbTx02lMpLRpyAPCKkDK/347098cb13c12fe036808ca6c48eaaec/Blake.jpg" style="width: 70px;border-radius: 50%;" />
            </div>
            <div id="remain">
              <h1
                style="
                  text-align: center;
                  font-size: 30px;
                  font-weight: 100;
                  color: black;
                "
              >
              Blake Tablak
              </h1>
              <h6 style="font-weight:500;font-size:20px;color: #1d5174;margin-top:40px;">
                Senior VP, Global Enterprise
             </h6>
            </div>
          </div>
              
</div>
<div class="SectionThree">
   
      <div id="SectionThreeFirst">
        <div class="imgs">
          <img src="//www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/6BIqyBJUnNPVVGj3jLaJv/4d10c2d45ddc75a19e14bf09e10db41f/Kenny.jpg" style="width: 70px;border-radius:50%;" />
        </div>
        <div id="remain">
          <h1 style="
              text-align: center;
              font-size: 30px;
              font-weight: 100;
              color: black;">
           Kenny Kim</h1>
          <h6 style="font-weight:100;font-size:20px;color: #1d5174;margin-top:40px;">
            Chief Marketing Officer
          </h6>
          
        </div>
 
      </div>  
      <br>
      <br>
      <div id="SectionThreeSecond">
        <div class="imgs">
          <img src="//www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/15F3be06eueY6A2cIHPsh2/6b3626b13c5b6e0098552885aadc2d8d/Hisham.jpg" style="width: 70px;border-radius: 50%;" />
        </div>
        <div id="remain">
          <h1
            style="
              text-align: center;
              font-size: 30px;
              font-weight: 100;
              color: black;
            "
          >
          Hisham Elaraby
          </h1>
          <h6 style="font-weight:100;font-size:20px;color: #1d5174;margin-top:40px;">
            VP, Udacity for Government
         </h6>
        </div>
      </div>
</div>
<div class="SectionThree">

    <div id="SectionThreeSecond">
        <div class="imgs">
          <img src="//www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/42GpPGjm8hWp9qgBdMo1FJ/28340770ce21ecdf41d0b106a2330aff/James.jpg" style="width: 70px;border-radius: 50%;" />
        </div>
        <div id="remain">
          <h1
            style="
              text-align: center;
              font-size: 30px;
              font-weight: 100;
              color: black;
            "
          >
          James Richards
          </h1>
          <h6 style="font-weight:100;font-size:20px;color: #1d5174;margin-top:40px;">
            Chief Technology Officer
         </h6>
        </div>
      </div>
      <br>
      <br>
      
          <div id="SectionThreeFirst">
            <div class="imgs">
              <img src="//www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/2U0zw81jpUjq44ij7Y8MC2/c5bd7778ef0e9bd6e65673fece5078f8/Jennifer.jpg" style="width: 70px;border-radius:50%;" />
            </div>
            <div id="remain">
              <h1 style="
                  text-align: center;
                  font-size: 30px;
                  font-weight: 100;
                  color: black;">
                Jennifer Dearman</h1>
              <h6 style="font-weight:100;font-size:20px;color: #1d5174;margin-top:40px;">
                Senior VP, Global Customer Success and Operations
              </h6>
              
            </div>
     
          </div>

     
</div>


</div>

<section class="about-us_joinUs__2eILC">
    <div class="about-us_joinUsContent__2VdTA">
    <h3 style="color:white;font-size:30px;">Join Our Mission To Democratize Education</h3>
    <a mat-button color="primary" style="width:20%;color:white;font-size:20px;background-color: #1d5174;"
        href="/jobs">Jobs @ Udacity</a>
</div>
</section>