<mat-sidenav-container>
    <mat-sidenav mode="side" opened>
        <img mat-card-md-image routerLink="/Home" class="udacity imgUdacity" src="assets/udacity.svg"
            style="width: 40px;height: 50px;cursor: pointer;">
        <h1 routerLink="/Home" class="udacity" style="margin-top: -42px;margin-left: 50px;margin-bottom: 40px;cursor: pointer;">
            U D A C I T Y</h1>

        <h1 routerLink="/ClassRoom" id="one">
            <mat-icon>home</mat-icon>Home
        </h1>

        <h1 routerLink="/Home" id="two">
            <mat-icon>support</mat-icon>Help
        </h1>
        <h1 routerLink="/Home" id="three">
            <mat-icon>explore</mat-icon>Catalog
        </h1>

    <div class="tabsBottom">    
    <h1 routerLink="{{'/Setting/'+'/Personal_Information/'}}" style="font-size: 15px;">
            <mat-icon>settings</mat-icon>Setting
        </h1>
        <h1 (click)="Logout()" style="font-size: 15px;">
            <mat-icon>logout</mat-icon>Logout
            
        </h1>
    </div>

    </mat-sidenav>
    
    <mat-sidenav-content>
        <h1 id="nav">Home</h1>
        <section style="padding: 20px 0px 30px 60px;font-size: 15px;">
            <ng-template #paid>
            <mat-label style="font-size:17px; opacity: .7;color:#00485c;font-weight:600;">PAID PROGRAM</mat-label><br><br><br>
        </ng-template>
        <ng-template #free>
            <mat-label style="font-size:17px; opacity: .7;color:#00485c;font-weight:600;">Free PROGRAM</mat-label><br><br><br>
        </ng-template>
        <div *ngIf="isFree then cardFree "></div>
        <div *ngIf="isPaid then cardPaid "></div>
        <ng-template #cardFree>  
            <h2>CURRENT FREE ENROLLMENTS</h2>
            <div *ngFor="let course of freeCoures">
                <mat-card class="courses"  routerLink="{{'/Lecture/'+course.id+'/ProgramHome/'+course.id}}">
                    <div style="display: flex;"   >
                        <div>
                            <img src="../../assets/nameCourse.JPG" alt="error" width="30px" height="19px" style="margin-right: 10px;">
                                <mat-label >NANODEGREE PROGRAM</mat-label><br><br>
                            <mat-label style="font-size: x-large;">{{course.name}}</mat-label><br><br>
                            <mat-label > {{course.description}}</mat-label>
                        </div>
                        <div class="btnDiv">
                            <button mat-raised-button color="primary" class="btnCourse" >PROGRAM HOME <mat-icon >arrow_forward</mat-icon></button>
                        </div>
                    </div>
                </mat-card><br><br>
            </div>
        </ng-template>
        <ng-template #cardPaid>  
            <h2>CURRENT Free ENROLLMENTS</h2>
            <div *ngFor="let course of paidCourses">
                <mat-card class="courses"  routerLink="{{'/Lecture/'+course.id+'/ProgramHome/'+course.id}}">
                    <div style="display: flex;"   >
                        <div>
                            <img src="../../assets/nameCourse.JPG" alt="error" width="30px" height="19px" style="margin-right: 10px;">
                                <mat-label >NANODEGREE PROGRAM</mat-label><br><br>
                            <mat-label style="font-size: x-large;">{{course.name}}</mat-label><br><br>
                            <mat-label > {{course.description}}</mat-label>
                        </div>
                        <div class="btnDiv">
                            <button mat-raised-button color="primary" class="btnCourse" >PROGRAM HOME <mat-icon >arrow_forward</mat-icon></button>
                        </div>
                    </div>
                </mat-card><br><br>
            </div>
        </ng-template>
        </section><br><br><br>
   
    </mat-sidenav-content>
</mat-sidenav-container>