<mat-sidenav-container>
    <mat-sidenav mode="side" opened>
        <img mat-card-md-image routerLink="/Home" class="udacity imgUdacity" src="assets/udacity.svg"
            style="width: 40px;height: 50px;cursor: pointer;">
        <h1 routerLink="/Home" class="udacity" style="margin-top: -42px;margin-left: 50px;margin-bottom: 40px;cursor: pointer;">
            U D A C I T Y</h1>

        <h1 routerLink="/ClassRoom" id="one">
            <mat-icon>home</mat-icon>Home
        </h1>

        <h1 routerLink="/Home" id="two">
            <mat-icon>support</mat-icon>Help
        </h1>
        <h1 routerLink="/course/all" id="three">
            <mat-icon>explore</mat-icon>Catalog
        </h1>

    <div class="tabsBottom">    
    <h1 routerLink="{{'/Setting/'+'/Personal_Information/'}}" style="font-size: 15px;">
            <mat-icon>settings</mat-icon>Setting
        </h1>
        <h1 (click)="Logout()" style="font-size: 15px;">
            <mat-icon>logout</mat-icon>Logout
            
        </h1>
    </div>

    </mat-sidenav>
    
    <mat-sidenav-content>
        <h1 id="nav">Home</h1>
        <section class="content">
            <div style="display: flex;">
                <div *ngIf="isPaid then paid "></div>
                <ng-template #paid> <mat-label class="sectionCourses">PAID PROGRAM &nbsp; | </mat-label> </ng-template><br><br><br>
                
                <div *ngIf="isFree then free "></div>
                <ng-template #free> <mat-label class="sectionCourses"> &nbsp;&nbsp;  FREE COURSES &nbsp; | </mat-label> </ng-template><br><br><br>
                
                <div *ngIf="isQratuate then graduated "></div>
                <ng-template #graduated><mat-label class="sectionCourses"> &nbsp;&nbsp; GRADUATED</mat-label><br><br><br></ng-template>
            </div>
        </section>

        <section class="cardCourses">      
        <div *ngIf="flag then lastcourse"></div>
        <ng-template #lastcourse>
            <mat-label class="section" >LATEST ACTIVITY</mat-label><br><br>
            <mat-card class="courses" (click)="lastActiveCourse(lastCourse.id)" routerLink="{{'/Lecture/'+lastCourse.id+'/ProgramHome/'+lastCourse.id}}">
                <div style="display: flex;"   >
                    <div>
                        <img src="../../assets/nameCourse.JPG" alt="error" width="30px" height="19px" style="margin-right: 10px;">
                        <mat-label >NANODEGREE PROGRAM</mat-label><br><br>
                        <mat-label style="font-size: x-large;">{{lastCourse.name}}</mat-label><br><br>
                        <mat-label > {{lastCourse.description}}</mat-label>
                    </div>
                    <div class="btnDiv">
                        <button mat-raised-button color="primary" class="btnCourse" >PROGRAM HOME <mat-icon >arrow_forward</mat-icon></button>
                    </div>
                </div>
            </mat-card><br><br>
        </ng-template>
        </section>
        
      <!-- <section class="cardCourses">      
        <div *ngIf="isFree then cardFree "></div>
        <ng-template #cardFree>  
            <mat-label class="section" >CURRENT FREE ENROLLMENTS</mat-label><br><br>
            <div *ngFor="let course of freeCoures">
                <mat-card class="courses" (click)="lastActiveCourse(course.id)"  routerLink="{{'/Lecture/'+course.id+'/ProgramHome/'+course.id}}">
                    <div style="display: flex;"   >
                        <div>
                            <img src="../../assets/nameCourse.JPG" alt="error" width="30px" height="19px" style="margin-right: 10px;">
                            <mat-label >NANODEGREE PROGRAM</mat-label><br><br>
                            <mat-label style="font-size: x-large;">{{course.name}}</mat-label><br><br>
                            <mat-label > {{course.description}}</mat-label>
                        </div>
                        <div class="btnDiv">
                            <button mat-raised-button color="primary" class="btnCourse" >PROGRAM HOME <mat-icon >arrow_forward</mat-icon></button>
                        </div>
                    </div>
                </mat-card><br><br>
            </div>
        </ng-template>
        </section>

        <section class="cardCourses">      
        <div *ngIf="isPaid then cardPaid "></div>
        <ng-template #cardPaid>  
            <mat-label class="section">CURRENT Paid ENROLLMENTS</mat-label><br><br>
            <div *ngFor="let course of paidCourses">
                <mat-card class="courses" (click)="lastActiveCourse(course.id)" routerLink="{{'/Lecture/'+course.id+'/ProgramHome/'+course.id}}">
                    <div style="display: flex;"   >
                        <div>
                            <img src="../../assets/nameCourse.JPG" alt="error" width="30px" height="19px" style="margin-right: 10px;">
                                <mat-label >NANODEGREE PROGRAM</mat-label><br><br>
                            <mat-label style="font-size: x-large;">{{course.name}}</mat-label><br><br>
                            <mat-label > {{course.description}}</mat-label>
                        </div>
                        <div class="btnDiv">
                            <button mat-raised-button color="primary" class="btnCourse" >PROGRAM HOME <mat-icon >arrow_forward</mat-icon></button>
                        </div>
                    </div>
                </mat-card><br><br>
            </div>
        </ng-template>
        </section>
   -->
       <section class="cardCourses">      

        <div style="font-size: 16px;font-weight: bold;">Paid Courses</div>
        <div style="line-height: 40px;">&nbsp;</div>
        
        <div *ngFor="let course of paidCourses">
            <mat-card class="courses"  routerLink="{{'/Lecture/'+course.id+'/ProgramHome/'+course.id}}">
                <div style="display: flex;"   >
                    <div>
                        <img src="../../assets/nameCourse.JPG" alt="error" width="30px" height="19px" style="margin-right: 10px;">
                            <mat-label >NANODEGREE PROGRAM</mat-label><br><br>
                        <mat-label style="font-size: x-large;">{{course.name}}</mat-label><br><br>
                        <mat-label > {{course.description}}</mat-label>
                    </div>
                    <div class="btnDiv">
                        
                        <button mat-raised-button color="primary" class="btnCourse" (click)="StdProgress(course.id)"  >PROGRAM HOME <mat-icon >arrow_forward</mat-icon></button>
                    </div>
                </div>
            </mat-card><br><br>
        </div>

        <div style="font-size: 16px;font-weight: bold;">Free Courses</div>
        <div style="line-height: 40px;">&nbsp;</div>

        <div *ngFor="let course of freeCoures">
            <mat-card class="courses"  routerLink="{{'/Lecture/'+course.id+'/ProgramHome/'+course.id}}">
                <div style="display: flex;"   >
                    <div>
                        <img src="../../assets/nameCourse.JPG" alt="error" width="30px" height="19px" style="margin-right: 10px;">
                            <mat-label >NANODEGREE PROGRAM</mat-label><br><br>
                        <mat-label style="font-size: x-large;">{{course.name}}</mat-label><br><br>
                        <mat-label > {{course.description}}</mat-label>
                    </div>
                    <div class="btnDiv">
                        <button mat-raised-button color="primary" class="btnCourse" (click)="StdProgress(course.id)" >PROGRAM HOME <mat-icon >arrow_forward</mat-icon></button>
                    </div>
                </div>
            </mat-card><br><br>
        </div>

        <div style="font-size: 16px;font-weight: bold;">Graduated Courses</div>
        <div style="line-height: 40px;">&nbsp;</div>
        
        <div *ngFor="let course of GraduatedCoursesList">
            <mat-card class="courses"  routerLink="{{'/Lecture/'+course.id+'/ProgramHome/'+course.id}}">
                <div style="display: flex;"   >
                    <div>
                        <img src="../../assets/nameCourse.JPG" alt="error" width="30px" height="19px" style="margin-right: 10px;">
                            <mat-label >NANODEGREE PROGRAM</mat-label><br><br>
                        <mat-label style="font-size: x-large;">{{course.name}}</mat-label><br><br>
                        <mat-label > {{course.description}}</mat-label>
                    </div>
                    <div class="btnDiv">
                        
                        <button mat-raised-button color="primary" class="btnCourse" (click)="StdProgress(course.id)"  >PROGRAM HOME <mat-icon >arrow_forward</mat-icon></button>
                    </div>
                </div>
            </mat-card><br><br>
        </div>
       </section> <br><br><br>
   
    </mat-sidenav-content>
</mat-sidenav-container>