mat-sidenav-container{
    height: 100%;
    
}
mat-sidenav{
    background-color:#001d25;
    width: 18%;
    color: white;
}
mat-sidenav , mat-sidenav-content{
    padding: 16px;
}
#one{
    line-height: 50px;
    color: white;
    font-size: 15px;
    cursor: pointer;
}
#two{
    line-height: 50px;
    color: white;
    font-size: 15px;
    cursor: pointer;

}
#three{
    line-height: 50px;
    color: white;
    font-size: 15px;
    cursor: pointer;

}
.tabsBottom{
    color: white;
    cursor: pointer;
    position: absolute;
    bottom: 0;
}
mat-icon{
    margin-right: 20px;
}
#nav{
    background-color: white;
    box-shadow:2px 4px 15px rgb(185, 184, 184);
    width: auto;height: 50px;
    padding-top: 20px;
    padding-left: 40px;
    margin-left: -20px;
    margin-top: -20px;
    font-size: 20px;
}
