
<section class="child">
    <div id="content">
        <div>
            <img mat-card-md-image routerLink="/Home" src="assets/udacity.svg"
                style="width: 30px; height: 30px;  margin-left: 60px; margin-top: 90px;">
        </div>

        <section id="all">
            <div>
                <h3 id="font">FEATURED PROGRAMS</h3>

                <p><a routerLink="/" id="btn">SQL</a></p>
                <p> <a routerLink="/" id="btn">Data Engineer</a></p>
                <p><a routerLink="/" id="btn">Data Analyst</a></p>
                <p><a routerLink="/" id="btn">Intro to Programming</a></p>
                <p><a routerLink="/" id="btn">Digital Marketing</a></p>
                <a routerLink="/" id="btn">Self Driving Car Engineer</a>

            </div>

            <div>
                <h3 id="font">ONLY AT UDACITY</h3>

                <p><a routerLink="/" id="btn">Artificial Intelligence</a></p>
                <p> <a routerLink="/" id="btn">Deep Learning</a></p>
                <p><a routerLink="/" id="btn">Digital Marketing</a></p>
                <p><a routerLink="/" id="btn">Flying Car and Autonomous Flight Engineer</a></p>
                <p><a routerLink="/" id="btn">Intro to Self-Driving Cars</a></p>
                <p><a routerLink="/" id="btn">Machine Learning Engineer</a></p>
                <a routerLink="/" id="btn">Robotics Software Engineer</a>



            </div>
            <div>

                <h3 id="font">ENTERPRISE</h3>

                <p><a routerLink="/" id="btn">Udacity for Enterprise</a></p>
                <p> <a routerLink="/" id="btn">Digital Transformation with Udacity</a></p>
                <p><a routerLink="/" id="btn"> Artificial Intelligence for Enterprise</a></p>
                <p><a routerLink="/" id="btn">Cybersecurity for Enterprise</a></p>
                <p><a routerLink="/" id="btn">Data Science for Enterprise </a> </p>
                <p><a routerLink="/" id="btn">Udacity for Financial Services</a></p>
                <p><a routerLink="/" id="btn"> Corporate Social Responsibility</a></p>
                <a routerLink="/" id="btn">Enterprise Resource Center </a>
            </div>

            <div>

                <h3 id="font">RESOURCES</h3>

                <p><a routerLink="/" id="btn"> Catalog</a></p>
                <p> <a routerLink="/" id="btn">Career Resource Center</a></p>
                <p><a routerLink="/" id="btn">Career Services</a></p>
                <p><a routerLink="/" id="btn">Student Success</a></p>
                <p><a routerLink="/" id="btn">Udacity Talks</a></p>
                <p><a routerLink="/" id="btn"> Scholarships</a></p>
                <a routerLink="/" id="btn">What is AI?</a>

            </div>
            <div>
                <h3 id="font">SUPPORT</h3>

                <p><a routerLink="/" id="btn"></a></p>
                <p> <a routerLink="/" id="btn">Contact Us</a></p>
                <p><a routerLink="/" id="btn">Help and FAQ</a></p>
                <p><a routerLink="/" id="btn">Service Status</a></p>
                <a routerLink="/" id="btn">Tech Requirements</a>

            </div>
        </section>
        <hr />
    </div>
</section>