.home{
    margin: 0 auto;
    padding-top: 30px ;
    opacity: .9;
}
.card{
    padding: 60px;
}
.titel{
    font-weight: 100;
}
.social{
    font-size: 15px;
}
.connect{
    color: #017a9b;
    padding-right: 60px;
    right:  0px;
    position: absolute;
}
.icon{
    color: #f65d44;
    margin-right: 10px;
}
