<div class="home">
    <mat-card class="card">
        <mat-card-title class="titel">Linked Accounts</mat-card-title>
    <br><hr>
    <div style="display: flex;">
        <mat-icon class="icon">highlight_off</mat-icon>
        <mat-label class="social">FaceBook</mat-label>
        <mat-label class="connect">Connect</mat-label>
    </div>

    <hr>

    <div class="data">
        <mat-icon class="icon">highlight_off</mat-icon>
        <mat-label class="social">Google</mat-label>
        <mat-label class="connect">Connect</mat-label>
    </div>
    <hr>
    </mat-card>
</div>