<mat-card>
    <div class="titel">
        <div>
            <img src="../../../../assets/triangelCourses.JPG" alt="error" >
        </div>
        <div>
            <p class="coursesTitel">Courses</p>
        </div>
    </div><br><br>

    <div *ngFor="let course of CourseList">
        <mat-card class="courses">
            <mat-label style="font-size: x-large;">{{course.name}}</mat-label><br>
                <mat-label > {{course.description}}</mat-label><br>
                <mat-label class="remove"> REMOVE COURSE</mat-label>
        </mat-card><br><br>
    </div>
</mat-card>
<!-- <mat-sidenav-container>
    <mat-sidenav mode="side" opened>
        <div *ngFor="let i of lectureAllList">
        <h1 style="width: 60%;font-size: 15px;" routerLink="/payment">{{i.tilte}}</h1>
    </div>
    </mat-sidenav>
</mat-sidenav-container> -->
