mat-sidenav-container{
    height: 100%;
    
}
mat-sidenav{
    background-color:#001d25;
    width: 40%;
    color: white;
}
mat-sidenav , mat-sidenav-content{
    padding: 16px;
}
mat-icon{
    margin-right: 20px;
}
