<form  *ngIf="!isSuccessful" #registrationform="ngForm" id="form" [formGroup]="RegisterForm" (ngSubmit)="onSubmit()" >
    <!-- {{ RegisterForm.value | json }} --> <br><br>
   <h2 style="font-size: 40px; font-weight: 100; color: rgb(51, 51, 51); text-align: center;margin-top: 15px;">Create your account</h2> <br>
   <h5 style="font-size: 16px; font-weight: 400; text-align: center; line-height: 29px;">
       Build skills for today, tomorrow, and beyond.<br>
       Education to future-proof your career.
   </h5>
   <br>
   <a href="https://accounts.google.com/signin/" mat-stroked-button style="margin-left: 15px; margin-right: 10px;"><img
           src="/assets/h.jpg" style="width:30px; height: 30px; margin: 4px;"> Sign Up With Google </a>
   <a href="https://www.facebook.com/" mat-stroked-button style="margin-left: 40px; "><img src="/assets/h1.png"
           style="width:30px; height: 30px; margin: 4px ; "> Sign Up With FaceBook </a>

   <br>
   <br><br>
   <div class="lineWhitOr">
       <hr class="line">
       <div>
           <mat-label>or</mat-label>
       </div>
       <hr class="line">
   </div><br>
   <div class="example-container">

       <mat-form-field class="example-full-width">
           <mat-label>Enter your Name</mat-label>
           <div>
               <input matInput placeholder="Your Name" formControlName="UserName" required [class.is-invalid]="passwordHash?.invalid  && passwordHash?.touched"> 
           </div>  
           <mat-error *ngIf="UserName?.invalid  && UserName?.touched"><div class="alert alert-danger" >
            {{getErrorMessageName()}}</div></mat-error>
       </mat-form-field>
   </div>
   <div class="example-container">

       <mat-form-field class="example-full-width">
           <mat-label>Enter your email</mat-label>
           <input  matInput placeholder="Enter your email" formControlName="Email" required [class.is-invalid]="passwordHash?.invalid  && passwordHash?.touched"> 
           <mat-error *ngIf="Email?.invalid  && Email?.touched" ><div class="alert alert-danger" >
               {{getErrorMessage()}}</div></mat-error>
       </mat-form-field>
   </div>
   <div class="example-container" >
       <mat-form-field class="example-full-width" style="padding: 2px;">
           <mat-label>Enter your password</mat-label>
           <input  matInput [type]="hide ? 'password' : 'text'" formControlName="passwordHash" [class.is-invalid]="passwordHash?.invalid  && passwordHash?.touched">      
           <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
               [attr.aria-pressed]="hide">
               <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
           </button>
           
       </mat-form-field>
       <div  *ngIf="passwordHash?.invalid  && passwordHash?.touched">
        <strong style="color: black;font-size: 15px;"><ul><li style="position: absolute;left:  20px;">
       <p style="color: black;font-size: 15px;padding: 0;" *ngIf="passwordHash?.errors?.required">Password Required</p> 
       
        </li></ul></strong>
<br>
        <strong style="color: black;font-size: 15px;"><ul><li style="position: absolute;left:  20px;">
    <p style="color: black;font-size: 15px;" *ngIf="passwordHash?.errors?.minlength">Password must be 6 characters or more</p>
        </li></ul></strong>
<br>
        <strong style="color: black;font-size: 15px;"><ul><li style="position: absolute;left:  20px;">
         <span style="color: black;font-size: 15px;" *ngIf="passwordHash?.errors?.pattern"> Password must have at least 8 unique characters</span> 

        </li></ul></strong>

     </div>
   </div>
   
<h4 style="color: rgb(151, 133, 133); margin: 20px;text-transform: none; text-align: center;padding-top: 70px;">By clicking Sign
   Up, you agree to our<a href="https://www.google.com/" style="color: #017a9b; text-decoration: none;"> Terms
       of Use</a> and our <a href="https://www.facebook.com/" style="color: #017a9b; text-decoration: none;">
       Privacy Policy.</a></h4>
   <button type="submit" mat-raised-button id="btn">SIGN UP</button>
   <div class="alert alert-warning" *ngIf="onSubmit && isSignUpFailed">
    Signup failed!<br />{{ error }}
  </div>

</form>