#form{
    
    margin-top: 30px;
    margin-left: 90px;
    flex-direction: row;
    padding: 90px;


}
#btn{
    background-color: #017a9b;
     color: white;
     margin-left: 70px;

}
#two
{
    margin-top: 50px;

    margin-left: 150px;
    flex-direction: column;
    flex-wrap: nowrap;
    border: #017a9b 2px solid;
    width: 700px; 
    height: 900px;
  

}