<mat-toolbar class="nav">
        <img mat-card-md-image routerLink="/Home" class="udacity" src="assets/udacity.svg" style="width: 30px; height: 30px;  ">
        <p mat-title style="margin: 30px;" routerLink="/Home" class="udacity">U D A C I T Y</p>
</mat-toolbar>

<div class="center-content" >
    <mat-card class="example-card" > 
        <mat-tab-group style="padding: 30px;" mat-align-tabs="center">
            <mat-tab label="SIGN UP" > <app-sign-up></app-sign-up> </mat-tab>

            <mat-tab label="SIGN IN"> <br><br>
                <form class="example-form" [formGroup]="LoginForm" (ngSubmit)="onSubmit()" #Login >
                    <div class="titleSignIn">
                        <mat-label>Sign in to your account</mat-label>
                    </div><br>
                    <mat-label style="line-height: 30px; font-size: 16px; font-weight: 400;">Build skills for today, tomorrow,and beyond.<br>
                        Education to future-proof your career.</mat-label><br><br>
                        <button mat-raised-button class="btnSocial">  <img src="../assets/google.png" style="width: 30px; height: 30px;" alt="error">
                          Sign in with Google</button>
                        <button mat-raised-button class="btnSocial"><img src="../assets/facebook.png"style="width: 30px; height: 30px;" alt="error">
                            Sign in with Facebook</button><br><br><br>
                    <div class="lineWhitOr">
                        <hr class="line">
                        <div>
                            <mat-label>or</mat-label>
                        </div>
                        <hr  class="line">
                    </div><br>
                    
                    <div>
                        <mat-form-field class="example-full-width">
                            <input type="text" matInput placeholder="Your Name" formControlName="UserName" required>
                            <mat-error *ngIf="UserName.invalid  && UserName.touched">{{getErrorMessage()}}</mat-error>
                        </mat-form-field>
                    </div>

                        <mat-form-field class="example-full-width">
                            <input class="example-full-width" placeholder="Password" matInput [type]="hide ? 'password' : 'text'" formControlName="PasswordHash" required>
                            <mat-error *ngIf="PasswordHash.invalid  && PasswordHash.touched">{{getErrorMessage()}}</mat-error>
        
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field><br><br>

                    <div>
                        <mat-label>By clicking Sign In, you agree to our <span class="styleText"> Terms of Use </span> and our <span class="styleText"> Privacy Policy.</span>
                        </mat-label>
                    </div>
                    <button type="submit" [disabled]="loading" class="btnSignIn" mat-raised-button color="primary" >
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        SIGN IN</button><br>
                    <div class="styleText">
                        <mat-label>Forgot your password?</mat-label>
                    </div><br><br>
                    <div class="lineWhitOr">
                        <hr class="line">
                        <div>
                            <mat-label>or</mat-label>
                        </div>
                        <hr class="line">
                    </div><br><br>
                    <div class="styleText">
                        <mat-label>Sign in with your organization</mat-label>
                    </div>
                    <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>

</form>
</mat-tab>
</mat-tab-group>
</mat-card>
</div>

<div> 
    <pre> 
    </pre> 
</div>
