<mat-sidenav-container>
    <mat-sidenav mode="side" [(opened)]="IsOpened" class="lectNav">
        <!-- <img src="assets/Screenshot 2021-06-16 224348.png" (click)="goBack()" class="goBack"> -->
        <svg viewBox=" 0 0 32 32" stroke="currentColor" fill="currentColor" class="goBack" (click)="goBack()">
            <path d="M20 11.902v8.196a.5.5 0 01-.765.424l-6.557-4.098a.5.5 0 010-.848l6.557-4.098a.5.5 0 01.765.424z">
            </path>
        </svg>
        <h1 class="title">{{currentLesson.title}}</h1>
        <hr>
        <div style="display: flex; height: auto; padding-top: 5%;">
            <div data-toggle="modal" data-target="#exampleModalCenter">
                <h1 class="navContent" style="margin-top:-3px;height: auto;">Search</h1>
            </div>
            <div>
                <!-- <button mat-button (click)="openDialog()">Launch dialog</button> -->

                <mat-icon style="margin-left: 120px; margin-top: -1px;">search</mat-icon>
            </div>
        </div>
        <hr>
        <h1 class="navContent">RESOURSES</h1>
        <hr>
        <!-- <div style="display: flex;">
            <div>
                <h1 class="navContent">CONTENTS </h1>
            </div>
            <div style="margin: 0 auto;">
                <mat-icon class="hideIcon" (click)="hideList()">{{text}}</mat-icon>
            </div>
        </div> -->
        <ng-template #list>
            <div *ngFor="let i of allContentCurrentLesson ;let e=index ">
                <hr>
                <div class="all" (click)="goToLessonData(i.id)">
                    <div style="display: flex; ">
                        <div>
                            <h1 class="lecturesNumber">{{e+1}}</h1>
                        </div>
                        <div>
                            <h1 mat-stroked-button class="first">{{i.title}}</h1>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </ng-template>
        <div *ngIf="Isdetails then list"></div>
    </mat-sidenav>

     <!-- <div class="nav">
        <div>
            <mat-icon class="iconMenu" (click)="controlSidenav()">menu</mat-icon>
        </div>
        <div class="contentName">
            <mat-label>{{CurrentLesson?.title}}</mat-label>
        </div>
        <div class="feedback">
            <mat-label>SEND FEEDBAK</mat-label>
        </div>
    </div>  -->
    <div style="width: 100%;height: auto;">
        <mat-sidenav-container>
            <div class="Ques"> 
            <mat-sidenav-container style="height: 100%;">
                <div style="margin: 0 auto;margin-top: 20px;">
                    <video controls width="90%">
                        <source type="video/mp4" src="{{CoursesVideos?.videoURL}}">
                    </video>
                </div> 

                <div class="questionMcq" style="margin: 0 auto; width:70%">
                    <div *ngFor="let i of QByLessonContent ;let e=index" class="questionMcq">
                        <input type="hidden" [value]="i.id" #crsID name="crsID" id="crsID">
                        <div style="border-radius: 25px ;">
                            <mat-card class="questionCard">
                                <mat-card-title style="padding: 15px 0px 10px 15px;">
                                    <div class="questionMcq" >
                                        <td>{{e}}-{{allQuestion?.id}} </td>
                                        <td>{{i.title}}</td>
                                    </div>
                                </mat-card-title>
                                    <hr>
                                    <div class="questionMcq" *ngFor="let item of QOptionsList" style="padding:15px 0px 5px 15px;">
                                        <div *ngIf="item.qustionId==i.id">
                                            
                                            <div *ngFor="let ans of StudentAnswerByLesson">
                                                <div *ngIf="ans.questionId == i.id; then answerwdOptionQestion"></div> <!-- else notAnsweredOptionQuestion"></div>-->
                                            <ng-template #answerwdOptionQestion>
                                                <mat-radio-group aria-label="Select an option">
                                                    <div *ngIf="item.opt1 == item.right else not1" >
                                                    <mat-radio-button value={{item.opt1}} class="questionMcq" checked>{{item.opt1}}</mat-radio-button><br>
                                                    </div>
                                                    <ng-template #not1>
                                                        <mat-radio-button value={{item.opt1}} class="questionMcq" >{{item.opt1}}</mat-radio-button><br>
                                                    </ng-template>

                                                    <div *ngIf="item.opt2 == item.right else not2" >
                                                    <mat-radio-button value={{item.opt2}} class="questionMcq" checked>{{item.opt2}}</mat-radio-button><br>
                                                    </div>
                                                    <ng-template #not2>
                                                        <mat-radio-button value={{item.opt2}} class="questionMcq" >{{item.opt2}}</mat-radio-button><br>
                                                    </ng-template>

                                                    <div *ngIf="item.opt3 == item.right else not3" >
                                                    <mat-radio-button value={{item.opt3}} class="questionMcq" checked>{{item.opt3}}</mat-radio-button><br>
                                                    </div>
                                                    <ng-template #not3>
                                                        <mat-radio-button value={{item.opt3}} class="questionMcq" >{{item.opt3}}</mat-radio-button><br>
                                                    </ng-template>

                                                    <div *ngIf="item.opt4 == item.right else not4" >
                                                    <mat-radio-button value={{item.opt4}} class="questionMcq" checked>{{item.opt4}}</mat-radio-button><br>
                                                    </div>
                                                    <ng-template #not4>
                                                        <mat-radio-button value={{item.opt4}} class="questionMcq" >{{item.opt4}}</mat-radio-button><br>
                                                    </ng-template>

                                                </mat-radio-group>
                                            </ng-template>
                                            </div>
                                            <div *ngFor="let notAns of notAnsweredYetForOptional">
                                                <div *ngIf="notAns.id==i.id">
                                            <!-- <ng-template #notAnsweredOptionQuestion> -->
                                                <mat-radio-group aria-label="Select an option">
                                                    <mat-radio-button color="primary"  value={{item.opt1}} #op1 (click)="check(op1.value)"
                                                        class="questionMcq" >
                                                        {{item.opt1}}
                                                    </mat-radio-button><br>
                                                    <mat-radio-button color="primary" value={{item.opt2}} #op2 (click)="check(op2.value)"
                                                        class="questionMcq" >
                                                        {{item.opt2}}
                                                    </mat-radio-button><br>
                                                    <mat-radio-button color="primary" value={{item.opt3}} #op3 (click)="check(op3.value)"
                                                        class="questionMcq" >
                                                        {{item.opt3}}
                                                    </mat-radio-button><br>
                                                    <mat-radio-button color="primary" value={{item.opt4}} #op4 (click)="check(op4.value)"
                                                        class="questionMcq" >
                                                        {{item.opt4}}
                                                    </mat-radio-button><br>
                                                </mat-radio-group>
                                            <!-- </ng-template> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </mat-card>
                        </div>
                            <button type="submit" color="primary" mat-raised-button class="btnSave" (click)="postAnswer(i.id,i.lessonContentId)">Submit</button><br> <br><br><br>
                    </div>
                </div>  

                <div class="questionPart"> 
                    <div *ngFor="let question of QByLessonContent">
                        <div>
                            <mat-card class="questionCard ">
                                <div class="question">
                                    <mat-label class="numberOfQuestion">Question {{question.id}}</mat-label><br>
                                    <mat-label>{{question.title}}</mat-label><br>
                                </div><hr>
                                <div *ngFor="let alreadyAnsert of StudentAnswerByLesson">
                                        <div *ngIf="alreadyAnsert.questionId==question.id && alreadyAnsert.studentanswer==isAnswered; then answered  else notAnswered"></div>
                                        <ng-template #answered>
                                            <div *ngIf="alreadyAnsert.questionId==question.id && alreadyAnsert.studentanswer == notAnswered; then trueAns else falseAns "></div>
                                                <ng-template #trueAns>
                                                    <mat-radio-group aria-label="Select an option">
                                                        <mat-radio-button class="trueOrFalse" #answerTrue value="true" checked>True</mat-radio-button>
                                                        <hr>
                                                        <mat-radio-button class="trueOrFalse" value="false">False</mat-radio-button>
                                                    </mat-radio-group>
                                                </ng-template>
                                                <ng-template #falseAns>
                                                    <mat-radio-group aria-label="Select an option">
                                                        <mat-radio-button class="trueOrFalse" #answerTrue value="true" >True</mat-radio-button>
                                                        <hr>
                                                        <mat-radio-button class="trueOrFalse" value="false" checked>False</mat-radio-button>
                                                    </mat-radio-group>
                                                </ng-template>
                                        </ng-template>
                                </div>
                                <!-- <div *ngFor="let n of questionTrueAndFalseNotAnswered">
                                    <div *ngIf="n.id == question.id">
                                        <mat-radio-group aria-label="Select an option">
                                            <mat-radio-button class="trueOrFalse"  (click)="answerMayOfTrueAndFalse(answerTrue.value)" #answerTrue value="true">True</mat-radio-button>
                                            <hr>
                                            <mat-radio-button class="trueOrFalse"  (click)="answerMayOfTrueAndFalse(answerFalse.value)" #answerFalse value="false">False</mat-radio-button>
                                        </mat-radio-group>
                                    </div>
                                </div> -->
                            </mat-card>
                            </div>
                        <button type="submit" class="btnSave" mat-raised-button
                            color="primary" (click)="finalAnswerOfTrueAndFalse(question.id,question.lessonContentId)">SUBMIT</button><br> <br><br><br>
                    </div>
                </div>    
            </mat-sidenav-container> 
            </div>
        </mat-sidenav-container>
    </div>
</mat-sidenav-container>


        <!-- Modal -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
            integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
            integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
            crossorigin="anonymous"></script>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-body homeSearch">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                    style=" padding: 30px 40px 0px 0px;">
                    <span aria-hidden="false">&times;</span>
                </button>
                <div class="content">
                    <h2 class="searchTitel">{{currentCourseToSearch}} </h2>
                    <input type="text" class="inputSearch">
                    <button type="button" class="btn btn-primary btnSearch">Search</button>
                </div>
                <hr>
                <div class="result">
                    <div class="content">
                        <p>Your recent searches</p>
                        <hr>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div> 
     
<!-- Button trigger modal -->
        <!-- <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-body ">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                            style=" padding: 30px 40px 0px 0px;">
                            <span aria-hidden="false">&times;</span>
                        </button>
                        <div class="content">
                            <h2 class="correct"><img src="assets/correct-illustration-f1348.svg" width="40%"> </h2>
                        </div>
                        <hr>
                        <div style="text-align: center;">
                            <h1>correct</h1>
                            <button type="button" class="btn btn-primary btnContinue">Continue</button>
                        </div>
                    </div>

                </div>
            </div>
        -->
   <!-- Modal -->
   <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
  -->
   <!-- <div  class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
     <div class="modal-dialog modal-fullscreen" >
       <div  class="modal-content">
         <div class="modal-body homeSearch" >
             <button type="button" class="close" data-dismiss="modal" aria-label="Close" style=" padding: 30px 40px 0px 0px;">
                 <span aria-hidden="false">&times;</span>
               </button>
               <div class="content">
               <h2 class="searchTitel">{{currentCourseToSearch.name}} </h2>
             <input type="text" class="inputSearch" #SearchLessonItem id="SearchLessonItem" name="SearchLessonItem" > 
             <button type="button" class="btn btn-primary btnSearch" (click)="searchLesson(currentCourseToSearch.id,SearchLessonItem.value)" >Search</button>
         </div>
             <hr>
         <div class="result">
             <div class="content">
                 <p>Your recent searches</p>
             <hr>
             
             <div id="SearchResult" *ngIf="SearchFlagLesson">
                <div *ngFor="let lesson of LessonSearchList" >                        
                    <h1>{{lesson.title}}</h1>
                    <h3>{{lesson.details}}</h3>    
                <hr>
            </div>
             </div>
         </div>
         </div>
 
       </div>
     </div>
   </div>
   </div> -->
