<mat-sidenav-container>
    <mat-sidenav mode="side" [(opened)]="IsOpened" class="lectNav">
        <svg viewBox=" 0 0 32 32" stroke="currentColor" fill="currentColor" class="goBack" (click)="goBack()">
            <path d="M20 11.902v8.196a.5.5 0 01-.765.424l-6.557-4.098a.5.5 0 010-.848l6.557-4.098a.5.5 0 01.765.424z">
            </path>
        </svg>
        <h1 class="title">{{currentLesson.title}}</h1>
        <hr>
        <div style="display: flex; height: auto; padding-top: 5%;">
            <div data-toggle="modal" data-target="#exampleModalCenter">
                <h1 class="navContent" style="margin-top:-3px;height: auto;">Search</h1>
            </div>
            <div>

                <mat-icon style="margin-left: 120px; margin-top: -1px;">search</mat-icon>
            </div>
        </div>
        <hr>
        <h1 class="navContent">RESOURSES</h1>
        <hr>
        <div style="display: flex;">
            <div>
                <h1 class="navContent">CONTENTS </h1>
            </div>
            <div style="margin: 0 auto;">
                <mat-icon class="hideIcon" (click)="hideList()">{{text}}</mat-icon>
            </div>
        </div>
        <div *ngIf="Isdetails then list"></div>
        <ng-template #list>
            <div *ngFor="let i of allContentCurrentLesson ;let e=index ">
                <hr>
                <div class="all" (click)="goToLessonData(i.id)">
                    <div style="display: flex; ">
                        <div>
                            <h1 class="lecturesNumber">{{e+1}}</h1>
                        </div>
                        <div>
                            <h1 mat-stroked-button class="first">{{i.title}}</h1>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </ng-template>
    </mat-sidenav>

    <div class="nav">
        <div>
            <mat-icon class="iconMenu" (click)="controlSidenav()">menu</mat-icon>
        </div>
        <div class="contentName">
            <mat-label>{{CurrentLesson?.title}}</mat-label>
        </div>
        <div class="feedback">
            <mat-label>SEND FEEDBAK</mat-label>
        </div>
    </div>
    <div style="width: 100%;height: auto;">
        <mat-sidenav-container style="height: 100%;" class="Ques">
            <mat-sidenav-container>
                <div style="margin-left: 60px;margin-top: 20px;">
                    <video controls width="90%" [src]="createImgPath(CoursesVideos?.videoURL)" type="video/mp4">
                        <source>
                        Browser not supported
                    </video>
                </div>
            </mat-sidenav-container>
            <!--////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
            <div class="questionPart">
                <div *ngFor="let questionOBJ of QuestionsList">                                        
                    <div>
                        <mat-card class="questionCard ">
                            <div class="question">
                                <mat-label class="numberOfQuestion">Question {{questionOBJ.id}}</mat-label><br>
                                <mat-label>{{questionOBJ.title}}</mat-label><br>
                            </div>
                            <hr>                            
                            <div *ngIf="questionOBJ.type==option then OPT else trueandfalse"></div>
                            <ng-template #OPT>
                                <div *ngIf="questionOBJ.flag then AnswerdOPT else NotAnsweedOPT"></div>
                                <ng-template #AnswerdOPT>
                                    <div class="container-fluid" style="padding: 10px;">
                                        <mat-radio-group aria-label="Select an option">
                                            <div *ngIf="questionOBJ.opt1 == questionOBJ.right else not1">
                                                <mat-radio-button [value]="questionOBJ.opt1" checked>
                                                    {{questionOBJ.opt1}}</mat-radio-button><br>
                                            </div>
                                            <ng-template #not1>
                                                <mat-radio-button [value]="questionOBJ.opt1">{{questionOBJ.opt1}}
                                                </mat-radio-button><br>
                                            </ng-template>
                                            <br>

                                            <div *ngIf="questionOBJ.opt2 == questionOBJ.right else not2">
                                                <mat-radio-button [value]="questionOBJ.opt2" checked>
                                                    {{questionOBJ.opt2}}</mat-radio-button><br>
                                            </div>
                                            <ng-template #not2>
                                                <mat-radio-button [value]="questionOBJ.opt2">{{questionOBJ.opt2}}
                                                </mat-radio-button><br>
                                            </ng-template>
                                            <br>


                                            <div *ngIf="questionOBJ.opt3 == questionOBJ.right else not3">
                                                <mat-radio-button [value]="questionOBJ.opt3" class="questionMcq" checked>
                                                    {{questionOBJ.opt3}}</mat-radio-button><br>
                                            </div>
                                            <ng-template #not3>
                                                <mat-radio-button [value]="questionOBJ.opt3" class="questionMcq">{{questionOBJ.opt3}}
                                                </mat-radio-button><br>
                                            </ng-template>

                                            <br>

                                            <div *ngIf="questionOBJ.opt4 == questionOBJ.right else not4">
                                                <mat-radio-button [value]="questionOBJ.opt4" class="questionMcq" checked>
                                                    {{questionOBJ.opt4}}</mat-radio-button><br>
                                            </div>
                                            <ng-template #not4>
                                                <mat-radio-button [value]="questionOBJ.opt4" class="questionMcq">{{questionOBJ.opt4}}
                                                </mat-radio-button><br>
                                            </ng-template>
                                            <br>
                                        </mat-radio-group>
                                    </div>
                                </ng-template>
                                <ng-template #NotAnsweedOPT>
                                    <br>
                                    <div class="container-fluid" style="padding: 10px;">
                                        <mat-radio-group aria-label="Select an option"  >
                                            <mat-radio-button color="primary" [value]="questionOBJ.opt1" #op1
                                                (click)="check(questionOBJ.opt1)" class="questionMcq">
                                                {{questionOBJ.opt1}}
                                            </mat-radio-button><br>
                                            <mat-radio-button color="primary" [value]="questionOBJ.opt2" #op2
                                                (click)="check(questionOBJ.opt2)" class="questionMcq">
                                                {{questionOBJ.opt2}}
                                            </mat-radio-button><br>
                                            <mat-radio-button color="primary" [value]="questionOBJ.opt3" #op3
                                                (click)="check(questionOBJ.opt3)" class="questionMcq">
                                                {{questionOBJ.opt3}}
                                            </mat-radio-button><br>
                                            <mat-radio-button color="primary" [value]="questionOBJ.opt4" #op4
                                                (click)="check(questionOBJ.opt4)" class="questionMcq">
                                                {{questionOBJ.opt4}}
                                            </mat-radio-button><br>
                                        </mat-radio-group>
                                    </div>
                                </ng-template>
                            </ng-template>

                            <ng-template #trueandfalse>
                                <div *ngIf="questionOBJ.flag then AnsweredTF else NotAnsweredTF"></div>
                                <ng-template #AnsweredTF>
                                    <div *ngIf="questionOBJ.right == notAnsweredYet then notAnsweredQTF else AnsweredQTF"></div>
                                        <ng-template #notAnsweredQTF>
                                            <mat-radio-group aria-label="Select an option">
                                                <mat-radio-button class="trueOrFalse" value="true">True
                                                </mat-radio-button>
                                                <hr>
                                                <mat-radio-button class="trueOrFalse" value="false" checked>False
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </ng-template>
                                        <ng-template #AnsweredQTF>
                                            <mat-radio-group aria-label="Select an option">
                                                <mat-radio-button class="trueOrFalse" value="true" checked>True
                                                </mat-radio-button>
                                                <hr>
                                                <mat-radio-button class="trueOrFalse" value="false" >False
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </ng-template>
                                </ng-template>
                                <ng-template #NotAnsweredTF>
                                    <mat-radio-group aria-label="Select an option">
                                        <mat-radio-button class="trueOrFalse" (click)="answerMayOfTrueAndFalse(answerTrue.value)"  #answerTrue value="true">True
                                        </mat-radio-button>
                                        <hr>
                                        <mat-radio-button class="trueOrFalse" (click)="answerMayOfTrueAndFalse(answerFalse.value)"  #answerFalse value="false" >False
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </ng-template>

                            </ng-template>
                        </mat-card>
                    </div>
                    <button type="submit" class="btnSave" mat-raised-button color="primary" data-toggle="modal" data-target="#exampleModalCenterRightAnswer"
                        (click)="postAnswer(questionOBJ.id,questionOBJ.lessonContentId)">SUBMIT</button><br>
                    <br><br><br>                  
                </div>
            </div>
        </mat-sidenav-container>
    </div>
</mat-sidenav-container>


<!-- Modal -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
    integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
    crossorigin="anonymous"></script>


<!-- Right Answer -->
<div class="modal fade" id="exampleModalCenterRightAnswer" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body ">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                    style=" padding: 30px 40px 0px 0px;">
                    <span aria-hidden="false">&times;</span>
                </button>
                <div class="content">
                    <h2 class="correct"><img src="assets/correct-illustration-f1348.svg" width="40%"> </h2>
                </div>
                <hr>
                <div style="text-align: center;">
                    <h1>{{IsCorrect}}</h1>
                    <button type="button" class="btn btn-primary btnContinue">Continue</button>
                </div>
            </div>
        </div>
    </div>       
</div>


<!-- Modal Search -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-body homeSearch">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                    style=" padding: 30px 40px 0px 0px;">
                    <span aria-hidden="false">&times;</span>
                </button>
                <div class="content">
                    <h2 class="searchTitel">{{currentCourseToSearch.name}} </h2>
                    <input type="text" class="inputSearch" #SearchLessonItem id="SearchLessonItem"
                        name="SearchLessonItem">
                    <button type="button" class="btn btn-primary btnSearch"
                        (click)="searchLesson(currentCourseToSearch.id,SearchLessonItem.value)">Search</button>
                </div>
                <hr>
                <div class="result">
                    <div class="content">
                        <p>Your recent searches</p>
                        <hr>

                        <div id="SearchResult" *ngIf="SearchFlagLesson">
                            <div *ngFor="let lesson of LessonSearchList">
                                <h1>{{lesson.title}}</h1>
                                <h3>{{lesson.details}}</h3>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>