<div>
    <div style="margin-left: 60px;margin-top: 20px;">
        <video controls  width="70%" >
            <source type="video/mp4" src="{{CoursesVideos.videoURL}}">
        </video>
        <!-- <a href="{{CoursesVideos.videoURL}}"></a> -->
    </div>
    <!-- <a><source src="{{CoursesVideos.videoURL}}"></a> -->
    <mat-card style="width: 70%;margin-left: 30px;">
        <mat-card-title>
            <div class="example-box" cdkDrag
                style="background-color: brown;width: 20%;height: 20%;padding: 2%;font-size: 15px;">
                <div class="example-handle" cdkDragHandle>
                    {{QDragAndDropList.rightAnswer}}

                </div>
            </div>
            <!-- {{QDragAndDropList.rightAnswer}} -->
        </mat-card-title>
        <hr>
        <mat-card-title>
            <div class="container" style="border-radius: 25px">
                <table class="table" style="
          border: 2px rgb(245, 243, 243);
          margin-top: 30px;
          box-shadow: 6px 2px 6px 3px rgb(192, 189, 189);
          border-radius: 25px;
          align-items: center;">
                    <thead>
                        <tr style="background-color: #03607a; color: white; ">
                            <th style="width: 60%;">THING</th>
                            <th></th>
                            <th style="width: 40%;">WHAT IS IT?</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="background-color: rgba(239, 235, 252, 0.42);font-size: 15px;">
                            <!-- <td>{{QuestionsGroup.title}}</td> -->
                            <td>{{QuestionsGroup.title}}</td>
                            <td></td>
                            <td class="invisible">{{QDragAndDropList.rightAnswer}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </mat-card-title>
    </mat-card>
    <button mat-raised-button color="primary" class="btnSave" (click)="SubmitAnswer()">Submit</button>
    <br>
</div>
<!-- </div> -->
<div *ngFor="let i of QByLessonContent">
<h1>{{i.title}}</h1>

</div>
<!-- <div>{{CoursesVideos.lessonId}}</div> 
 <a [src]="{{CoursesVideos.videoURL}}">jjjjjj</a> -->
<!-- <div>dddddddddddddddddddd</div> -->
