.nav{
    background-color: #042e38;;
    box-shadow:2px 4px 15px rgb(185, 184, 184);
    width: auto;
    height: auto;
    padding: 2%;
    margin-left: -20px;
    font-weight: 500;
    display: flex;
    letter-spacing: 1px;
    color: white;
}
.invisible{
    visibility: hidden;
}
.btnSave{
    background-color: #017a9b;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 50px;
    border-radius: 10px;
    position: absolute;
    right: 350px;
    margin-top: 20px;
    }