.introCategory{
    width: 100%;
    height: 450px;
}
.catDetails{
    float: left; 
    width: 50%;
    background-image: url(https://www.udacity.com/assets/iridium/images/shared/school-of/hero_bg.png);
    height: 100%;
    padding-left: 3%;
}
.dataCat{
    display: flex;
}
.data{
    margin: 20px 0px 0px -230px;
}
.img{
    // background-image: url(https://www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/8GC0T67gQAEYViOzgdtZb/ff81a327b7f047f78325a0d6cb7424e8/ai.jpg);
    
    background-size: cover;
    width: 50%;
    height: 450px;
}
.programParts{
    display: flex;
    padding: 70px 110px 0px 110px;
}
.parts{
    display: flex;
    padding-right: 30px;
}
.title{
    margin-top: 15px;
    font-weight: 500;
    font-size:20px;
    margin-bottom: 0;
    padding-bottom: 0;
}
.icons{
    background-color: white;
    margin:20px 0px 0px -60px;
    width: 150px; height: 55px;
    border-radius: 50%;
    box-shadow: 10px 10px 25px 0 rgb(0 0 0 / 10%);
}
.startLearn{
    // background-color: rgba(21, 21, 100, .1);
    background-image: url(//www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/4kUuBCVBZyrWx1g1ohrS93/5ffd69aa87ed6b9526f9cbea2c5e74bc/bottom_bkgd.png);
    background-size: cover;
    width: 100%;
    height: 250px;
    text-align: center;
    padding-top: 70px;
}
.btnStartLearn{
    padding: 20px;
    background-color: rgb(240, 230, 230);
    border-radius: 10px;
    color: steelblue;
    letter-spacing: 1px;
}
.courses{
    display: flex;
    height: 120px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
.coursName{
    padding: 20px 0px 0px 80px;
}
.btnCourse{
    height: 45px;
    width: 150px;
    text-align: center;
    margin-top: 30px;
    background-color: #017a9b;
    float: right;
    // right: -600px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
.spasificCourse{
    width: 100%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    border-left: 20px solid;
    border-left-color: #2a77aa;
    margin-bottom: 20px;
    padding-top: 20px;
}
.story{
    margin-left: 5%;
    width: 20%;
}
.line{
    height: 4px;
    width: 50px;
    background-color: #F7B500;
    margin-bottom: 30px;
}
.freePart{
    padding: 50px 90px 50px 90px;
}
.lineFreePart{
    height: 4px;
    width: 50px;
    background-color: #2a77aa;
    margin-bottom: 30px;
}
.freePartTitel{
    margin-bottom: 50px;
    font-size: xx-large;
    font-weight: 100;
}
.coursesFree{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}
.corsesFreeName{
    font-size: larger;
    color: #2a77aa;
    margin: 0px 100px 0px 0px;
}